<div class="row">
        <div class="col-lg-3 hidden">
            <!-- Primary tile -->
            <div class="box box-solid bg-light-blue">
                <div class="box-body">
                  <p>Последний вход: {$smarty.session.user_last_date|date_format:"%d.%m.%Y"}</p>
                  <p>Последняя запись: {if !empty($smarty.session.user_last_record)}{$smarty.session.user_last_record}{else}Еще не было записей!{/if}</p>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    {foreach from=$purse_all item=row}
        {if $row.vis==1}
        <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 tour_purse">
        <!-- small box -->
        <div class="small-box mdc-bg-blue-50">  <!--style='background-color: #CCC22C'-->
            <div class="inner">
                <a href="/?p=purse_view&c={$row.id}"><h3>
                    {if $row.debet-$row.credit==0}0.00{else}{$row.debet-$row.credit}{/if} {$row.symbol}
                </h3></a>
                <p>
                    {if empty($row.title)}Кошелёк №{$row.id}{else}{$row.title}{/if}
                </p>              <div class="icon">
                <i class="fa fa-ruble"></i>
            </div>
            <span style='position: relative ; z-index: 11'>
              <a href='/?p=bill_edit&id_purse={$row.id}&debet' class='fa fa-plus btn  mdc-bg-blue-50' style='font-size:20px' data-toggle="tooltip" data-placement="bottom" title='Внести пополнение в кошелёк'></a>
              <a href='/?p=bill_edit&id_purse={$row.id}&credit' class='fa fa-minus btn  mdc-bg-blue-100' style='font-size:20px' data-toggle="tooltip" data-placement="bottom" title='Внести расходы в кошелёк'></a>
              <a href='/?p=purse_edit&id_purse={$row.id}' class='fa fa-pencil btn  mdc-bg-blue-200' style='font-size:20px' data-toggle="tooltip" data-placement="bottom" title='Редактировать кошелёк'></a>
              <a href='/?p=purse_view&id_purse={$row.id}' class='fa fa-eye btn  mdc-bg-blue-300' style='font-size:20px' data-toggle="tooltip" data-placement="bottom" title='Посмотреть платежи в кошельке'></a>
</span>
            </div>

<!--           <div class="small-box-footer">
            <a href="/?p=purse_view&c={$row.id}" style='color:white; font-size:12px;'>
                Открыть <i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;&nbsp;
            </a>
               <a href="/?p=purse_edit&c={$row.id}"  style='color:white;  font-size:12px;'>
                Редактировать <i class="fa fa-edit"></i>
            </a>
           </div>-->
        </div>
    </div><!-- ./col -->
    {/if}
    {/foreach}
</div><!-- /.row -->