                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- The time line -->
                            <ul class="timeline">
{assign var='datelast' value='0'}
{if $bill_all|count>0}
{foreach from=$bill_all item=row}
    {if $datelast!==$row.start_date}
    {assign var='datelast' value=$row.start_date}
         <li class="time-label">
                <span class="bg-gray">
                    {$row.start_date|date_format:"%d.%m.%Y"}
                </span>
            </li>
    {else} {/if}

    <li class='bill'>
        <i class="fa  fa-money  {if $row.status==1}{if ($row.credit==0)}bg-green{/if}{if ($row.credit==1)}bg-red{/if}{else}bg-grey{/if}"></i>
        <div class="timeline-item">

            <span class="time"><i class="fa fa-credit-card"></i> <a href="/?p=purse_view&c={$row.purse_id}" style='color:#aaa'>{$row.purse_title}</a></span>
            <h3 class="timeline-header no-border "><a href="/?p=bill_edit&c={$row.id}" class='{if ($row.credit==0)}text-green{else}text-red{/if} bill-price'>
            {if ($row.credit==0)}{$row.value_debet}{$row.symbol}{/if}
            {if ($row.credit==1)}-{$row.value_credit}{$row.symbol}{/if}</a> <span  class='bill-title'>{$row.title}</span> &nbsp;&nbsp;
            {assign var='first_index' value='0'}
            <span>
            {foreach from=$category_user_all item=rows name=foo}
              {if $row.id==$rows.id_bill}
                {if $first_index==0 }
                  {assign var='first_index' value='1'}
                  <i class="fa  fa-tags"></i>
                {else},
                {/if}
                <a href='#' class="text-aqua btn-xs">{$rows.title}</a>
              {/if}
            {/foreach}
            </span>  </h3>
        </div>
    </li>



{/foreach}
{else}
    <li>
      <i class="fa fa-clock-o"></i><div class="timeline-item">  Платежей в этом месяце не было </div>
    </li>
  {/if}
   <li>
                        <i class="fa fa-clock-o"></i>
                    </li>

                </ul>
            </div><!-- /.col -->
        </div><!-- /.row -->