
{if isset($smarty.session.message)}
    <div class="alert alert-{$smarty.session.message_type} alert-dismissable">
        <i class="{$smarty.session.message_icon}"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {$smarty.session.message}
    </div>
{/if}
