{if isset($smarty.get.c)}
    <button type="submit" name='go_s' class="btn bg-green "><i class="fa fa-check"></i> Сохранить</button>
    <button type="submit" name='go_d' class="btn btn-danger pull-right"><i class="fa fa-ban"></i> Удалить</button>
{else}
    <button type="submit" name='go_c' class="btn bg-green"><i class="fa fa-check"></i> Создать</button>
{/if}

