<link href="/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/plugins/moment/moment.min.js" type="text/javascript"></script>
<script src="/js/plugins/bootstrap/bootstrap-datetimepicker.js" type="text/javascript"></script>
<script>
$(function(){
  // загрузка куков для панелей
  var collapse_filter= $.cookie('collapse_filter');
  if (collapse_filter==0) {    $('.collapse_filter').hide();  }
  //alert(collapse_filter);


  $('#search').keyup(function(){
    var search_text=$(this).val();

    if (isNaN(search_text))
      {
        //console.log('Текст ищем');
        $(".bill-title").each(function(){
      		var text = $(this).html();  console.log(text);
          var count_text=text.toLowerCase().indexOf(search_text.toLowerCase());
          if (count_text=='-1') $(this).parent().parent().parent().hide();
          else $(this).parent().parent().parent().show();
  	    });
      }
    else
      {
          //console.log('Цифру ищем');
        $(".bill-price").each(function(){
      		var text = $(this).html();
          var count_text=text.toLowerCase().indexOf(search_text.toLowerCase());
          if (count_text=='-1') $(this).parent().parent().parent().hide();
          else $(this).parent().parent().parent().show();
  	    });
      }
  });
  $('#id_purse').change(function(){
  });
  $(".collapse_btn").click(function(){

    if (collapse_filter==undefined) {    $.cookie('collapse_filter', 1);  }
    else {
      if (collapse_filter==1) { collapse_filter==0;    $.cookie('collapse_filter', 0);  }
      else { collapse_filter==1;   $.cookie('collapse_filter', 1);  }
    }

    $(this).find('i').toggleClass( 'fa-minus', 'fa-plus' );

  });
  $('.datetimepicker').datetimepicker({ format: 'YYYY-MM-DD'});
});
</script>
<div class="row">
  <div class='col-md-12 tour_filter'>
    <div class="box box-primary">
      <div class="box-header">
        <div class="pull-right box-tools">
<!--      <button class="btn btn-danger btn-sm refresh-btn" data-toggle="tooltip" title="Reload"><i class="fa fa-refresh"></i></button> -->
          <button class="btn btn-primary btn-sm collapse_btn" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-minus fa-plus"></i></button>
<!--      <button class="btn btn-danger btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>  -->
        </div>
          <h3 class="box-title">
          {if !isset($smarty.get.filter_date_from) || !isset($smarty.get.filter_date_to)}
            {if isset($smarty.get.c)}
              Фильтр по дате: за весь период
            {else}
              Фильтр по дате: последние 10 записей
            {/if}
            {else}
              Фильтр по дате: {$smarty.get.filter_date_from} - {$smarty.get.filter_date_to}
          {/if}
          </h3>
      </div>
      <div class="box-body collapse_filter">
        <form action="#" method="get" id='filter'>
          {if isset($smarty.get.p)} <input type='hidden' name='p' value='{$smarty.get.p}'> {/if}
          {*if isset($smarty.get.c)} <input type='hidden' name='c' value='{$smarty.get.c}'> {/if}
          {if isset($smarty.get.id_purse)} <input type='hidden' name='id_purse' value='{$smarty.get.id_purse}'> {/if*}
          <div class="row">
            <div class="form-group col-md-6 col-xs-12">
              <div class='input-group'>
                <span class="input-group-addon">
                  Начало
                </span>
                <input type='text' name='filter_date_from' value='{if isset($smarty.get.filter_date_from)}{$smarty.get.filter_date_from}{else}{$smarty.now|date_format:"%Y-%m-01"}{/if}' class="form-control date datetimepicker" placeholder="{if isset($smarty.get.filter_date_from)}{$smarty.get.filter_date_from}{else}{/if}" />
              </div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
              <div class='input-group'>
                <span class="input-group-addon">
                  Конец
                </span>
                <input type='text' name='filter_date_to' value='{if isset($smarty.get.filter_date_to)}{$smarty.get.filter_date_to}{else}{/if}' class="form-control date datetimepicker" placeholder="Выберите дату конца" />
              </div>
            </div>

            <div class="form-group col-md-6 col-xs-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                <select type="text" name="id_purse" class='form-control' id="id_purse" data-native-menu="false" data-mini="true">
                    <option>Выберите кошелёк</option>
                    {foreach from=$purse_all item=row}
                    <option value="{$row.id}" {if $row.id==$smarty.get.c || $row.id==$smarty.get.id_purse}selected='selected'{/if}>{if $row.vis==2}[Скрыт]{/if} {$row.title}</option>
                    {/foreach}
                </select>
              </div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
              <button type="submit" name='go' class="btn bg-green pull-right"><i class="fa fa-search"></i> Применить фильтр</button>
            </div>
          </div>
        </form>
        <div class='row'>
          <div class="form-group col-xs-12 {if isset($smarty.get.p)} hidden-xs hidden-sm hidden-md hidden-lg{/if}">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <input type="text" name='search' id='search' class="form-control" placeholder="Поиск, начните вводить: телефон...">
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>