 <link href="/css/iCheck/all.css" rel="stylesheet" type="text/css" />
 <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/plugins/moment/moment.min.js" type="text/javascript"></script>
<script src="/js/plugins/bootstrap/bootstrap-datetimepicker.js" type="text/javascript"></script>

 <script>
$(function(){
$("[name='credit']").bootstrapSwitch.defaults.onText='Списание';
$("[name='credit']").bootstrapSwitch.defaults.offText='Пополнение';
$("[name='credit']").bootstrapSwitch();

$("[name='status']").bootstrapSwitch.defaults.onText='Оплачен';
$("[name='status']").bootstrapSwitch.defaults.offText='Неоплачен';
$("[name='status']").bootstrapSwitch();

//Flat red color scheme for iCheck
$('input[type="checkbox"].flat-blue, input[type="radio"].flat-blue').iCheck({
    checkboxClass: 'icheckbox_flat-blue',
    radioClass: 'iradio_flat-blue'
});
//var start_date=$('#datetimepicker1').value();
$('#datetimepicker1').datetimepicker({ format: 'YYYY-MM-DD'});

});
</script>


<section class="content">
<div class="row">
    <!-- left column -->
    <div class="col-md-11">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Новый платёж</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form role="form" action='#' method="post">
                <div class="box-body">
                {include file='include/panel_alert.html'}
                
{if isset($smarty.get.between)}

                <div class="row col-md-12 col-xs-12">
                <input type='hidden' name='p' value='bill_edit'>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                            <input type="text" name='title' class="form-control" placeholder="Например: Оплата телефона" data-toggle="tooltip" data-placement="right" title='Совет: указывайте более подробно. В дальнейшем у вас не будет вопросов откуда взялся платёж' value='{$row.title}'>
                        </div>

                    </div>
                 </div>
                 <div class="row col-md-5 col-xs-12">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-rub"></i></span>
                            <input type="text" name='from_value' class="form-control" value="{if $row.value_debet=='0'}{$row.value_credit}{else}{$row.value_debet}{/if}" placeholder="0.00" >
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                            <select type="text" name="from_id_purse" class='form-control' id="id_purse" placeholder="My purse" data-native-menu="false" data-mini="true">
                            <option selected>Отсюда списать</option>
                            {foreach from=$select_purse item=row}
                                <option value='{$row.id}'>{$row.title}</option>
                            {/foreach}
                            </select>
                        </div>

                    </div>
                 </div>

                 <div class='row  col-md-1 col-lg-1 col-xs-12 ' style="padding:1% 0px 1% 0px; text-align: center">
                  <i class='fa fa-exchange  round_icon'  data-toggle="tooltip" data-placement="right" title='Внимательно следите откуда и куда пересылаете деньги'></i>
                 </div>

                 <div class="row col-md-6 col-xs-12">
                    <div class="form-group ">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-rub"></i></span>
                            <input type="text" name='to_value' class="form-control" value="" placeholder="0.00">
                        </div>

                    </div>

                    <div class="form-group ">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                            <select type="text" name="to_id_purse" class='form-control' id="id_purse" placeholder="My purse" data-native-menu="false" data-mini="true">
                            <option>Сюда записать</option>
                            {foreach from=$select_purse item=row}
                                <option value='{$row.id}'>{$row.title}</option>
                            {/foreach}
                            </select>
                        </div>

                    </div>
                 </div>
{else}

                <div class="row">
                <input type='hidden' name='p' value='bill_edit'>
                    <div class="form-group col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                            <input type="text" name='title' class="form-control" placeholder="Например: Оплата телефона" data-toggle="tooltip" data-placement="right" title='Совет: указывайте более подробно. В дальнейшем у вас не будет вопросов откуда взялся платёж' value='{$row.title}'>
                        </div>

                    </div>
                 </div>
                 <div class="row">
                    <div class="form-group col-md-6 col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-rub"></i></span>
                            <input type="text" name='value' class="form-control" value="{if $row.value_debet=='0'}{$row.value_credit}{else}{$row.value_debet}{/if}" placeholder="0.00">
                        </div>

                    </div>
                    <div class="form-group col-md-6 col-xs-6">
                        <input type="radio"  name="credit"  {if isset($smarty.get.c)}{if $row.value_debet=='0'}checked{else}{/if}{else}{if isset($smarty.get.debet)}{else}checked{/if}{/if} data-radio-all-off="true" class="switch-radio1">

                    </div>



                 </div>

                 <div class="row">

                    <div class="form-group col-md-6 col-xs-6">

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                            <select type="text" name="id_purse" class='form-control' id="id_purse" placeholder="My purse" data-native-menu="false" data-mini="true">
            {$select_purse}
       </select>
                        </div>

                    </div>
                    <div class="form-group col-md-6 col-xs-6">
                        <input type="radio"  name="status"  {if isset($smarty.get.c)}{if $row.status=='1'}checked{else}{/if}{else}checked{/if} data-radio-all-off="true" class="switch-radio2">

                    </div>

                 </div>
{/if}
                <div class="row">

                    <div class="form-group col-md-12 col-xs-12">
                        <h5>Категория платежа</h5>
                        {foreach from=$category item=rows}
                        <div class='col-md-4 col-xs-6'>
                            <input type="checkbox" name="category[]"  class='flat-blue' value='{$rows.id}'  id="checkbox-{$rows.id}" {if $rows.selected=='1'}checked='checked'{/if}>
                            <label for="checkbox-{$rows.id}">{$rows.title}</label>
                        </div>
                        {/foreach}

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-xs-12">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' name='start_date' value='{if $smarty.get.c}{$row.start_date|date_format:"%Y-%m-%d"}{else}{$row.now|date_format:"%Y-%m-%d"}{/if}' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    </div>
                </div>

</div>

                <div class="box-footer ">
{include file='include/panel_button_NewSaveDel.html'}
                </div>
            </form>
        </div><!-- /.box -->




    </div>
</div>
</section>