     <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css">
        <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
        <script type="text/javascript" src="js/bootstrap-multiselect-collapsible-groups.js"></script>
        
    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/plugins/moment/moment.min.js" type="text/javascript"></script>
<script src="/js/plugins/bootstrap/bootstrap-datetimepicker.js" type="text/javascript"></script>

<style>

</style>
<script>

$(function(){
$('.datetimepicker').datetimepicker({ format: 'YYYY-MM-DD'});
      
function recordsFieldSend(thisis, dataId, dataTd, dataTdName)
{
    // отправляем только одно поле после редактирования
    // срабатывает когда потерян фокус или нажат enter
    var dataSend="object=MyPurse&action=billFieldEdit&json=1&dataTd="+dataTd+"&dataId="+dataId+"&dataTdName="+dataTdName;
    console.log(dataSend);
    $.ajax({
    url: '/ajax.php',
    type: 'POST',
    dataType: 'jsonp',
    jsonp: 'callback',
    jsonpCallback: "jsonpCallback",
    data: dataSend,
    
    success: function(data)
    {
        /*
        var str='';
        data['row'].forEach(function(row2, i, arr) {     
            var date_create=new Date(row2['date_create']*1000); 
            var date_update=new Date(row2['date_update']*1000);
            $("#records tbody").append( "<tr data-id='"+row2['id']+"'><td>" + row2['id']+"</td><td>" + row2['title']+"</td><td>" + row2['value_debet']+"</td> <td>" + row2['value_credit']+"</td></tr>");
                    });     
                       
         $("td").on("dblclick",function(){ recordsEdit($(this)); });
         */
        if (data['res']=='OK') $(thisis).html(dataTd); // если все ок, то все удаляется и возвращается текст письма
        if (data['res']=='NEW'){ $(thisis).html(dataTd); $(thisis).parent().data('id',data['newId']).find('td:eq(0)').html(data['newId']);}
    },
    });     
}
function recordsEdit(thisis)
{
    // редактирование одного поля
    var dataId=thisis.parent().data('id');
    var dataTd=thisis.html();
    var dataTdName=thisis.data('name');
    var dataType=thisis.data('type');
    if (dataType=='date') {
        $(thisis).html("<input value='"+dataTd+"' class='sendToAjax col-md-11 col-xs-11 col-sm-11 datetimepicker'>");
        $('.datetimepicker').datetimepicker({ format: 'YYYY-MM-DD'});
    } 
    else{
        $(thisis).html("<input value='"+dataTd+"' class='sendToAjax col-md-11 col-xs-11 col-sm-11'>");
    }
    $(thisis).find('input').focus().select();
    
    $('.sendToAjax').on('focusout',function(){
        dataTd=$(this).val();
        $(thisis).prepend("<i class='fa fa-refresh fa-spin '></i>");
        recordsFieldSend(thisis, dataId, dataTd, dataTdName);
    });
}   
function tdClick(thisis)
{
    if ($(thisis).is(':has(input)')){ }else 
            {
                var click=$(thisis).data('click');
                console.log(click);
                if (click==0) { $("td[data-name]").data('click',0); $(thisis).data('click',1);}
                if (click==1)  { $(thisis).data('click',0); recordsEdit($(thisis)); }
            }
 
}  
function  reloadTable()
{
    // перегружается вся таблица
    
   $.ajax({
    url: '/ajax.php',
    type: 'POST',
    dataType: 'jsonp',
    jsonp: 'callback',
    jsonpCallback: "jsonpCallback",
    data: "object=MyPurse&action=bill_all_json&json=1",
    
    success: function(data)
    {
        var str='';
        data['row'].forEach(function(row2, i, arr) {     
            var date_create=new Date(row2['date_create']*1000); 
            var date_update=new Date(row2['date_update']*1000);
            $("#records tbody").append( "<tr data-id='"+row2['id']+"'><td>" + row2['id']+"</td><td data-name='title' data-click=0>" + row2['title']+"</td><td>" + row2['value_debet']+"</td> <td>" + row2['value_credit']+"</td></tr>");
                    });     
                       
         $("td[data-name]").on("click",function(){ tdClick(this);});
    },
    });    
}   

reloadTable();

$('.editSchool').click(function(){
   
   var school=$(this).data('school'); 
   //console.log('-----'+school);

   $.ajax({
    url: '/ajax.php',
    type: 'POST',
    dataType: 'jsonp',
    jsonp: 'callback',
    jsonpCallback: "jsonpCallback",
    data: "object=School&action=schoolOne&school="+school+"&json=1",
    
    success: function(data)
    {
        var str='';

        $("#form_add_school").find('[name="id"]').val(data['row']['id']);
        $("#form_add_school").find('[name="title"]').val(data['row']['title']);
        $("#form_add_school").find('[name="descr"]').val(data['row']['descr']);
        $("#form_add_school").find('[name="contact_name"]').val(data['row']['contact_name']);
        $("#form_add_school").find('[name="address"]').val(data['row']['address']);
        $("#form_add_school").find('[name="contacts"]').val(data['row']['contacts']);
        $("#form_add_school").find('[name="link"]').val(data['row']['link']);
        $("#form_add_school").find('[name="cost_min"]').val(data['row']['cost_min']);
        $("#form_add_school").find('[name="cost_max"]').val(data['row']['cost_max']);
        $("#form_add_school").find('[name="partner"]').val(data['row']['partner']);
        $("#form_add_school").find('[name="show_id_files1"]').val(data['row']['logo']);      
              
        $("#form_add_school").find('.note-editable').html(data['row']['full']);    
        
                data['row'].forEach(function(row2, i, arr) {                       
                        var date_create=new Date(row2['date_create']*1000); 
                        var date_update=new Date(row2['date_update']*1000);
//<td class='eventSession' var='"+ row2['id']+"'>" + row2['id']+"</td> <td><a href='http://"+row2['full_url']+"' target='_blank' title='"+row2['full_url']+"'>"+row2['full_url']+"</a></td>  <td>"+date_create.getHours()+":"+date_create.getMinutes()+":"+date_create.getSeconds()+" "+date_update.getHours()+":"+date_update.getMinutes()+":"+date_update.getSeconds()+"</td>                    
                        $("#record tbody").append( "<tr data-id='"+row2['id']+"'><td>" + row2['id']+"</td><td>" + row2['title']+"</td><td>" + row2['value_debet']+" " + row2['value_credit']+"</td></tr>");
                       
                    });     
                       
        $.magnificPopup.open({
        removalDelay: 500, //delay removal by X to allow out-animation,
        items: {
            src: "#new-school"
        },
        // overflowY: 'hidden', // 
        callbacks: {
            beforeOpen: function(e) {
            var Animation ="mfp-flipInX";
            this.st.mainClass = Animation;
            }
        },
        midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
    });  
    },
    });
    
           

});   
 
$('.newRecord').click(function(){
    $('#records tbody').append('<tr data-id=0><td></td><td data-name="title" data-click=0></td><td></td><td></td><td data-name="start_date" data-type="date"  data-click=0></td></tr>'); 
    $("td[data-name]").on("click",function(){ tdClick(this);});   
});
});
</script>
<section class="content">
    <div class="row ">
        <div class='col-md-12'>
            <div class="table-responsive">
                <table class="table table-striped table-hover" id='records'>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название платежа</th>
                        <th>Сумма</th>
                        <th>Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3"><a href='#' class='btn btn-primary newRecord'>Добавить строку</a></th>
                            <th><input class='datetimepicker'></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>
