 <link href="css/passfield.min.css" rel="stylesheet" type="text/css" />



<section class="content">
<div class="row">
<div class="col-md-12">
   {include file='include/panel_alert.html'}
</div>
    <div class="col-md-4 col-lg-3">

        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">Профиль</h3>
            </div>
            <div class="box-body">
                <div class='row'>

                <div class="col-md-12">

                  <div class="box-header">

                      <h3 class="box-title"> <div class="img-circle" style='width:60px; height:60px; overflow: hidden'>
                      <img src="{$smarty.session.user_photo}" alt="User Image" width=60 /></div>    {$smarty.session.user_fio}</h3>
                  </div>

                  <div style="margin-top: 15px;">
                      <ul class="nav nav-pills nav-stacked">
                          <li class="header">Настройка</li>
                          <li class="active"><a href="#"><i class="fa fa-inbox"></i> Изменить профиль</a></li>
                          <li><a href="#" data-toggle="modal" data-target="#user-pass"><i class="fa fa-key"></i> Сменить пароль</a></li>
                          <li><a href="#" data-toggle="modal" data-target="#users"><i class="fa fa-user-plus"></i> Пользователи</a></li>
                          <li><a href="#" data-toggle="modal" data-target="#user-access"><i class="fa fa-unlock-alt"></i> Доступы</a></li>

                      </ul>
                  </div>
                </div>
                <div class="col-md-12">

                </div>
            </div>
            </div>


        </div>
    </div>
    <div class="col-md-8 col-lg-9">

        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">Основная информация</h3>
            </div>


            <div class="box-body">
              <div class='row'>
                <div class="col-xs-8 col-sm-8 col-md-6">

                  <div class="box-header">
                      <i class="fa fa-phone"></i>
                      <h3 class="box-title">{$info.mobile_phone}</h3>
                  </div>
                  <div class="box-header">
                      <i class="fa fa-envelope"></i>
                      <h3 class="box-title">{$info.email}</h3>
                  </div>
                  <div class="box-header">
                      <i class="fa fa-briefcase"></i>
                      <h3 class="box-title">{$info.work}</h3>
                  </div>

                  <div class="box-header">
                      <i class="fa fa-street-view"></i>
                      <h3 class="box-title">{$info.city}</h3>
                  </div>

              </div>
                <div class="col-xs-4 col-sm-4 col-md-6 hidden">

                  <div class="box-header">
                      <i class="fa fa-venus-mars"></i>
                      <h3 class="box-title">Мужской</h3>
                  </div>
                  <div class="box-header">
                      <i class="fa fa-hourglass-half"></i>
                      <h3 class="box-title">27</h3>
                  </div>


              </div>
            </div>
            <div class="box-footer ">
                 <button class="btn bg-green  "data-toggle="modal" data-target="#user-profile"><i class="fa fa-pencil"></i> Изменить</button>
            </div>

        </div><!-- /.box -->
    </div>
</div>
</div>
</section>

<!-- COMPOSE MESSAGE MODAL -->
<div class="modal fade" id="user-profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><i class="fa fa-envelope-o"></i> Измение информации профиля</h4>
      </div>
      <form role="form" action='#' method="post">
        <div class="modal-body">
          <div class="row">

            <div class="form-group col-md-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input type="text" name='mobile_phone' class="form-control" placeholder="Телефон" data-placement="right" value='{$info.mobile_phone}'>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" name='email' class="form-control" placeholder="E-mail" data-placement="right" value='{$info.email}'>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                <input type="text" name='work' class="form-control" placeholder="Работа: Разнорабочий" data-placement="right" value='{$info.work}'>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-street-view"></i></span>
                <input type="text" name='city' class="form-control" placeholder="Город: Чита" data-placement="right" value='{$info.city}'>
              </div>
            </div>
<!--            <div class="form-group col-md-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-street-view"></i></span>
                <input type="text" name='old' class="form-control" placeholder="Город: Чита" data-placement="right" value='{$info.city}'>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-street-view"></i></span>
                <input type="text" name='sex' class="form-control" placeholder="Город: Чита" data-placement="right" value='{$info.city}'>
              </div>
            </div>-->
          </div>
        </div>
        <div class="modal-footer clearfix ">
           <button type="submit" name='go_s' class="btn btn-primary pull-left"><i class="fa fa-envelope"></i> Сохранить</button>
           <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Отменить</button>
        </div>
     </form>
    </div>
  </div>
</div>

<!-- COMPOSE MESSAGE MODAL -->
<div class="modal fade" id="user-pass" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><i class="fa fa-envelope-o"></i> Измение пароля</h4>
      </div>
      <form role="form" action='#' method="post">
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-12">
              <div class="input-group">
                <span class="input-group-addon"></span>
                <input type="password" name='pass_old' class="form-control" placeholder="Введите текущий пароль" data-placement="right" value=''>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="input-group">
                <span class="input-group-addon"></span>
                <input type="password" name='pass_new' class="form-control" placeholder="Введите новый пароль" data-placement="right" value=''>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer clearfix ">
           <button type="submit" name='go_s_pass' class="btn btn-primary pull-left"><i class="fa fa-envelope"></i> Изменить</button>
           <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Отменить</button>
        </div>
     </form>
    </div>
  </div>
</div>
<script src="js/passfield.min.js" type="text/javascript"></script>
<script>
$(function(){
 	$("input[type='password']").passField({
		allowEmpty: false,
		allowAnyChars: false,
		showGenerate: false,
		showWarn: false,
		showTip: true
	});

});
</script>