<div class="breadcrumb-wrap hidden">
          <div class="container">
            <ol class="breadcrumb">
              <li><a href="#">Рабочий стол</a></li>
              <li><a href="/?p=purse_view">Мои платежи</a></li>
              <li class="active">Добавить платеж</li>
            </ol>
          </div>
        </div>
<div class="container">

  <div class="panel panel-default m-t-20">
    <div class="panel-heading font-header">Новый платёж</div>
    <form action='#' method="post" class="form-horizontal font-12">

   <div class="panel-body">  
       {if isset($smarty.get.between)}     
            <input type='hidden' name='p' value='bill_edit'>    
            <div class="form-group">
                <label for="" class="col-sm-3 control-label">Название платежа</label>
                <div class="col-sm-9">
                    <input type="text" name='title' class="form-control" placeholder="Например: Оплата телефона" data-toggle="tooltip" data-placement="right" title='Совет: указывайте более подробно. В дальнейшем у вас не будет вопросов откуда взялся платёж' value='{$row.title}'>
                </div>
            </div>
            <div class='row'>          
                <div class="form-group col-xs-6 col-sm-6">
                    <label for="" class="col-sm-4 control-label">Мой кошелёк</label>
                    <div class="col-sm-8">
                        <select type="text" name="from_id_purse" class='form-control' id="id_purse" placeholder="My purse">
                            <option selected>Отсюда списать</option>
                                {foreach from=$select_purse item=row}
                                    <option value='{$row.id}'>{$row.title}</option>
                                {/foreach}
                        </select>
                    </div>
    
                </div>  
                <div class="form-group col-xs-6 col-sm-6">
                    <label for="" class="col-sm-3 control-label">Сумма</label>
                    <div class="col-sm-9">
                        <input type="text" name='from_value' class="form-control" value="{if $row.value_debet=='0'}{$row.value_credit}{else}{$row.value_debet}{/if}" placeholder="0.00">
                    </div>
    
                </div>       
            </div>
        <div class='row'>        
                <div class="form-group col-xs-6 col-sm-6">
                    <label for="" class="col-sm-4 control-label">Мой кошелёк</label>
                    <div class="col-sm-8">
                        <select type="text" name="to_id_purse" class='form-control' id="id_purse" placeholder="My purse">
                                <option>Сюда записать</option>
                                {foreach from=$select_purse item=row}
                                    <option value='{$row.id}'>{$row.title}</option>
                                {/foreach}
                        </select>
                    </div>
    
                </div>                   
                <div class="form-group col-xs-6 col-sm-6">
                    <label for="" class="col-sm-3 control-label">Сумма</label>
                    <div class="col-sm-9">
                        <input type="text" name='to_value' class="form-control" value="{if $row.value_debet=='0'}{$row.value_credit}{else}{$row.value_debet}{/if}" placeholder="0.00">
                    </div>
    
                </div>           

            </div> 
 
 {else}  

           

            <div class="form-group">
                <label for="" class="col-sm-3 control-label">Название платежа</label>
                <div class="col-sm-9">
                    <input type="text" name='title' class="form-control" placeholder="Например: Оплата телефона" data-toggle="tooltip" data-placement="right" title='Совет: указывайте более подробно. В дальнейшем у вас не будет вопросов откуда взялся платёж' value='{$row.title}'>
                </div>
            </div>
           
            <div class="form-group">
                <label for="" class="col-sm-3 control-label">Сумма</label>
                <div class="col-sm-5">
                    <input type="text" name='value' class="form-control" value="{if $row.value_debet=='0'}{$row.value_credit}{else}{$row.value_debet}{/if}" placeholder="0.00">
                </div>
                <div class="col-sm-4 text-right">
                    <label class='control-label'>Пополние/Списание</label>
                    <label class="switch-toggle switch-lg m-l-5">
                        <input type="checkbox" name="credit"  {if isset($smarty.get.c)}{if $row.value_debet=='0'}checked{else}{/if}{else}{if isset($smarty.get.debet)}{else}checked{/if}{/if}>
                        <span></span>
                    </label>
                </div>
            </div>           
            <div class="form-group">
                <label for="" class="col-sm-3 control-label">Мой кошелёк</label>
                <div class="col-sm-5">
                    <select type="text" name="id_purse" class='form-control' id="id_purse" placeholder="My purse">
                        {$select_purse}
                    </select>
                </div>
                
                <div class="col-sm-4 text-right" title='{if isset($smarty.get.c)}Вы не можете оплатить платеж при редактировании - воспользутесь кнопкой оплатить в разделе регулярные платежы или на рабочем столе{/if}'>
                    <label class='control-label'>Не оплачено/Оплачено</label>
                    <label class="switch-toggle switch-lg m-l-5 text-right">
                        <input type="checkbox"  name="status" {if isset($smarty.get.c)}disabled{/if}  {if isset($smarty.get.c)}{if $row.status=='1'}checked{else}{/if}{else}checked{/if}>
                        <span></span>
                    </label>
                </div>
            </div>    {/if}   
            
            <div class="form-group">
                <label for="" class="col-sm-3 control-label">Категория платежа </label>
                <div class="col-sm-9">                 
                {foreach from=$category item=rows}
                    <div class='col-md-4 col-xs-6' data-vis='{$rows.vis}'>
                        <div class="custom-checkbox font-12">
                            <input type="checkbox"  name="category[]"  value='{$rows.id}'  id="checkbox-{$rows.id}" {if $rows.selected=='1'}checked='checked'{/if}>
                            <label for="checkbox-{$rows.id}">{$rows.title}</label>
                        </div>
                    </div>
                {/foreach}
                    <div class='col-md-4 col-xs-6'>
                        <span class='badge badge-primary click-show-hidden-category' style=" cursor: pointer" title='Показывает и скрывает категории которые вы отметите невидимыми'>Показать другие</span>
                    </div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label">Дата</label>
                <div class="col-sm-4">
                    <input type="text" name='start_date' value='{if $smarty.get.c}{$row.start_date|date_format:"%d.%m.%Y"}{else}{$row.now|date_format:"%d.%m.%Y"}{/if}' class="form-control font-12 datetimepicker">
                    <span class="icon-calendar h4 no-m form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            
            <div class="form-group" title='Регулярный платеж будет показываться на рабочем столе для быстрого внесения расходов или доходов'>

                <label for="" class="col-sm-3 col-xs-12 control-label">Регулярный платеж</label>
                <div class="col-sm-2  col-xs-2">
                    <label class="switch-toggle switch-lg text-right">
                        <input type="checkbox"  name="regular_payment">
                        <span></span>
                    </label>
                </div>
                <input type='hidden' value="{$row.regular_payment}" name="id_regular_payment">
                <div class="col-sm-4 col-xs-6 hidden regularity">
                    <select type="text" name="regularity" class='form-control'  placeholder="Выберите регулярность">
                        <option value='1'>Ежедневно</option>
                        <option value='2'>Еженедельно</option>
                        <option value='3' {if !isset($smarty.get.regular_payment)}selected="selected"{/if}>Ежемесячно</option>
                        <option value='4'>Каждые полгода</option>
                        <option value='5'>Ежегодно</option>
                    </select>
                </div>
            </div>         
      
    </div>
    

    <div class="panel-heading font-header">
        {if isset($smarty.get.c)}
        <button type="submit" name='go_s' class="btn btn-success btn-flat"><i class="fa fa-check"></i> Сохранить</button>
        <button type="submit" name='go_d' class="btn btn-danger btn-flat"><i class="fa fa-ban"></i> Удалить</button>
    {else}
        <button type="submit" name='go_c' class="btn btn-success btn-flat"><i class="fa fa-check"></i> Создать</button>
    {/if}
    </div>
    </form>
  </div>

</div>