<div class="container">
 <div class="col-lg-12 m-t-20">
  <div class="panel panel-default">
    <div class="panel-heading font-header">
        <div class='row'>
            <div class='col-md-12'>
                <a class="btn  btn-primary  pull-right" data-toggle="modal" data-target=".modal-flip-vertical"><i class="fa fa-pencil"></i> Добавить новую категорию</a>
            </div>
        </div>
    </div>
    <div class="panel-body">  
       <div class='row'> 
            {foreach from=$category_all item=row name=foo}    
                {if $smarty.foreach.foo.index%2==0}<div class='clearfix'></div>{/if}
            <div class="col-sm-6 col-lg-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="user-wrapper img-lg">
                            <div class="profile-pic" style=" font-size: 30px">
                            <i class='fa {$row.icon}'></i>
                        </div>
                        <div class="p-t-10">
                            <div class="pull-right m-t-5 m-d-2">
                                <span class="text-muted pointer text-hover edit" data-id='{$row.id}' data-title='{$row.title}' data-descr='{$row.descr}' data-icon='{$row.icon}'><i class="fa fa-pencil m-d-1"></i></span>
                                <span class="{if $row.category_status==1}{else}text-muted{/if} pointer m-d-1 text-hover visible" data-id_category='{$row.id}'><i class="fa fa-eye m-d-1"></i></span>
                                <span class="text-muted pointer text-hover"><i class="fa fa-trash m-d-1"></i></span>
                            </div>
                            <div class="font-16 text-dark category_title">{$row.title}</div>
                            <div class="font-12 category_descr">{$row.descr}</div>
                            <div class="font-12">Записей: {$row.counts}</div>
                            {if isset($row.max) && $row.max>0}
                            <div class="progress" style=' height:5px;'>
                              <div class="progress-bar progress-bar-success" style="width: 100%;"></div>
                            </div>
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        
            {/foreach}
       </div>
      <table class="table table-striped  table-hover hidden">
            <tr>

                <th>Категория</th>
                <th>Описание</th>
                <th>Цвет</th>
                <th>Иконка</th>
                <th width=40>Кол-во записей</th>
                <th width=40>Скрыть <i class='fa fa-question tooltip-primary' title='Скрывать категории в общем списке'></i></th>

            </tr>            <tr  class="{if ($row.credit==0)}ui-bar-a{else}ui-bar-a{/if}">
                <td>{$row.title}</td>
                <td><a href="/?p=category&edit&c={$row.id}" data-ajax=false >{$row.descr}</a></td>
                <td> <span class="badge" style="background-color:{$row.color}">&nbsp;</span> </td>
                <td><i class='fa {$row.icon}'></i></td>
                <td>{$row.counts}</td>
                <td>                                 
                    <span class='pull-right tooltip-primary'   title="Не отображается в списках" >
                        <label class="switch-toggle switch-md"> 
                            <span class='fa fa-spinner fa-spin loading'></span>
                            <input type="checkbox" {if $row.category_status==1}checked="checked"{else}{/if} class='visible' data-id_category='{$row.id}'>
                            <span></span>
                        </label>
                    </span>
                </td>
                <td></td>
            </tr>
    </table>
    </div> 
  {*  <div class="panel-footer">
      <div class="row font-12 text-center-xs">
        <div class="col-sm-4">
          <div class="m-t-10 m-u-2">Показано 10 из {$records_count}</div>
        </div><!-- /.col -->
        <div class="col-sm-8 m-t-15-xs">
          <nav>
            <ul class="pagination pagination-split no-m pull-right no-pull-xs">
              <li {if $page<2}class="disabled"{/if}>
                <a href="/?{$get}&page={$page_left}" aria-label="Previous">
                  <span class="hidden-xs" aria-hidden="true">Назад</span>
                  <span class="visible-xs" aria-hidden="true">«</span>
                </a>
              </li>
              {for $i=1 to $page_count}
                {if ($i>=$page-2) && ($i<=$page+2)}<li {if $i==$page}class="active"{/if}><a href="/?{$get}&page={$i}">{$i}</a></li>{/if}
              {/for}
              <li {if $page==$page_count}class="disabled"{/if}>
                <a href="/?{$get}&page={$page_right}" aria-label="Next">
                  <span class="hidden-xs" aria-hidden="true">Вперед</span>
                  <span class="visible-xs" aria-hidden="true">»</span>
                </a>
              </li>
            </ul>
          </nav>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div> *}
</div>
</div>
</div>






    <div class="modal modal-flip-vertical fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Редактирование категории</h4>
            </div>
            <div class="modal-body">
            <form action='#' method="post" class="form-horizontal font-12" id='fast_record'>     
                <input name='id_category' type='hidden'>
                    <div class="form-group">

                            <input name="title" type="text" class="form-control" placeholder="Название категории" value=''>

                    </div>


                    <div class="form-group">
                        <textarea name="descr" class="form-control" placeholder="Добавьте дополнительное описание"></textarea>
                    </div>

                    <div class='row'>
                    <div class="form-group col-lg-4 col-xs-4">
                        <div class="input-group">
                            <input name='color' type='hidden' value='{$category_one.color}'>

                            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" id='btn-color' style="background-color:{$category_one.color}">Выберите цвет категории</a>
                            <ul class="dropdown-menu">
                                <li><div id="colorpalette1"></div></li>
                            </ul>


                        </div>

                    </div>
                    </div>                
                
  
            </form>    
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-gray" data-dismiss="modal">Закрыть</button>
              <button type="button" class="btn btn-main click-save" data-dismiss="modal">Внести изменения</button>
            </div>
          </div>
        </div>
      </div>