
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/jquery.animsition.min.js"></script>
<!-- авторизация вк  -->
<script type="text/javascript" src="//vk.com/js/api/openapi.js?116&scope=status,email,offline"></script>
<script type="text/javascript">
  VK.init({ apiId: 4970899 });
</script>
<script type="text/javascript">
VK.Widgets.Auth("vk_auth", { width: "200px", authUrl: '/?enter' });
</script>
<script>
$(function()  {
    $(".animsition").animsition({
    
        inClass               :   'zoom-in-sm',
        outClass              :   'zoom-out-sm',
        inDuration            :    1500,
        outDuration           :    800,
        linkElement           :   '.animsition-link',
        // e.g. linkElement   :   'a:not([target="_blank"]):not([href^=#])'
        loading               :    true,
        loadingParentElement  :   'body', //animsition wrapper element
        loadingClass          :   'animsition-loading',
        unSupportCss          : [ 'animation-duration',
                                '-webkit-animation-duration',
                                '-o-animation-duration'
                              ],
        overlay               :   false,
        
        overlayClass          :   'animsition-overlay-slide',
        overlayParentElement  :   'body'
    });
});
</script>
