<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title">Магазин (в разработке)</h4>
</div>
<div class="modal-body" style=' padding-top:0px;'>                
    <ul class="nav nav-pills  tabs-dark font-12" id='Shop'>
        <li role="presentation" class="active"><a href="#shop1" data-toggle="tab" aria-expanded="true">Продать</a></li>
        <li role="presentation"  class=""><a href="#shop2" data-toggle="tab" aria-expanded="false">Купить</a></li>
        <li role="presentation"  class=""><a href="#shop3" data-toggle="tab" aria-expanded="false">Биржа</a></li>
    </ul>
                
    <div class="tab-content  p-20 bg-white font-12">
        <div class="tab-pane fade active in" id="shop1">
            {foreach from=$my_items item=row}
            <div class='row'>
                <div class=' col-xs-12 col-sm-4 col-md-4 col-lg-4 no-p m-t-5'> 
                <div class='row'>
                    <div class='col-xs-3 col-sm-4 col-md-4'>
                        <div class='btn breed_btn block{$row.id_block} inv_block_shop hidden' data-id='{$row.id_block}'></div>
                        <img src='/img/game/block_{$row.id_block}.png' width=60> 
                    </div>
                    <div class='col-xs-9'>{$row.title} 
                        <span style='color:#000'>
                            {$row.count} шт</span><br><span style='color:#000'>Цена: {$row.sell_stock}
                        </span>
                         
                        <div class="btn-group pull-right" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary inv_block_shop no-p" data-id='{$row.id_block}' style="padding:2px 5px; font-size: 14px;">-1</button>
                            <button type="button" class="btn btn-primary  inv_block_shop_all no-p" data-id='{$row.id_block}'  style="padding:2px 5px; font-size:14px;">Всё</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            {foreachelse}
            <h3 class='text-default'>Накопайте, чтобы было что продать...</h3>
            {/foreach}
        </div>
      
    <div class="tab-pane fade" id="shop2"> 
           
        <div class='row'>
            {$i=1}
            {foreach from=$shop_items item=row name=foo}    
                {if $row.buy>0} 
                        {if $i%2}<div class='clearfix'></div>{/if}
            <div class='col-xs-6 no-m no-p   m-t-10' data-id='{$row.id}'>          
                <div class='col-xs-12 text-center'>   
                <img src="/img/game/objects/{$row.id}.png" width=40><br>
                {$row.title}<br>
                <strong>{$row.buy} <span class='fa fa-bitcoin'></span></strong>
                </div>
                {if $row.life_full>0}<br>Прочность:{$row.life_full} ед.{/if}<br>
                <a href='#' class=" btn-round btn-primary shop_btn no-p click-object-buy light" data-id='{$row.id}' style="; font-size: 14px; padding:3px">Купить</a>
                
                 {*<div class="btn-group pull-center" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary  no-p click-object-buy pull-center" data-id='{$row.id}' style="padding:2px 5px; font-size: 14px;">Купить</button>
                   <button type="button" class="btn btn-primary  no-p hidden"  style="padding:2px 5px; font-size:14px;">Инфо</button>
                </div>*}
            </div>
    {$i=$i+1}
                {/if}
            
        
            
            {/foreach}    
        </div>
    </div>
    <div class="tab-pane fade " id="shop3"> <div class='row no-p'>
        {foreach from=$stock_items item=row}
       
            <div class=' col-xs-6 no-p m-t-5'> 
                <div class='row no-p'>
                    <div class='col-xs-12 no-p'>
     
                       {if $row.id_block>0} <img src='/img/game/block_{$row.id}.png' width=40 class='pull-left'>
                       {else} <img src='/img/game/question.png' width=40  class='pull-left'>{/if}
         

                        <div style="margin-left:45px;">
                                                   {if $row.id_block>0} {$row.title}
                       {else}Неизвестно{/if}<br>Цена: {$row.sell_stock} {if $row.sell_stock>$row.sell}<span class='fa fa-arrow-up text-success'></span>{else}<span class='fa fa-arrow-down text-danger'></span>{/if}
                        </div>
                         
                    </div>
                </div>
            </div>
        
        {/foreach}</div>
    </div>
      
      
    </div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
</div>