
{foreach from=$task item=row}    
<div class="panel panel-primary bg-primary panel-stat no-icon col-xs-12" style=' margin-bottom:3px;'>
    <div class="panel-body content-wrap">
        <div class='row'>
            <div class='col-xs-12 no-p'>
                {if $row.id_stat>0}{$row.title}{/if}
                {if $row.id_block>0}Найти блок <img src='/img/game/block_{$row.id_block}.png' style=" width:32px; height:32px;"> {$row.count} шт.{/if}
            </div>
            <div class='col-xs-12 m-t-10 no-p' data-id_task='{$row.id}' data-id_type='{if  $row.id_block>0}3{/if}{if  $row.id_stat>0}1{/if}'>      
    
                <div class='btn btn-default btn-xs click-task-done  m-t-5' style=' padding:0px 3px;'>Выполнить задачу</div>
                <div class='btn btn-default btn-xs click-task-reset  m-t-5 ' style=' padding:0px 3px;'>Сбросить задачу</div>
            </div>
        </div>
    </div>
  </div>
{foreachelse}
Нет текущих задач
{/foreach}