    <div class="modal fade" tabindex="-1" role="dialog" id='help'>
        <div class="modal-dialog">
          <div class="modal-content">

                
            <ul class="nav nav-tabs tabs-float tabs-dark font-12" id='TabsHelp'>
                <li role="presentation" class="in active"><a href="#help1" data-toggle="tab" aria-expanded="false">Начало - Краткий ввод</a></li>
                <li role="presentation" class=""><a href="#help2" data-toggle="tab" aria-expanded="true">Новости</a></li>
                <li  class="pull-right m-r-10"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></li>
            </ul>
                
            <div class="tab-content b-all no-b-t p-20 bg-white font-12">
              <div class="tab-pane fade {if $gamer_info.help==1 || $gamer_info.help==0}in active{/if}" id="help1" style='font-size:1.1em'>
                
            <h4>Добро пожаловать в {$game.name}</h4>
            <div class='row' >
                <div class='col-xs-12'>
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src='/img/game/help/slide1.jpg' width=100%>
      <div class="carousel-caption">
 
      </div>
    </div>
    <div class="item">
       <img src='/img/game/help/slide2.jpg' width=100%>
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
       <img src='/img/game/help/slide3.jpg'width=100%>
      <div class="carousel-caption">
   
      </div>
    </div>
    <div class="item">
       <img src='/img/game/help/slide4.jpg' width=100%>
      <div class="carousel-caption">
   
      </div>
    </div>
        <div class="item">
            <h3>Вы можете почитать подробнее об игре ниже, а можете закрыть обучение и вернуться к нему позже!</h3>  <h2>Удачной игры! </h2>
      <div class="carousel-caption"> </div>

     
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left fa fa-arrow-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right fa fa-arrow-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
                    
                </div>
            </div>  
              
              
               <div class='row m-t-30'>
                   <div class='col-xs-8'>
                       <p>Тебе повезло! В это непростое для нашей планеты время, когда закончились все жизненно важные ресурсы, тебя выбрали одним из исследователей для поиска новых ресурсов. </p></div>
                       <div class='col-xs-4'><img src='/img/game/help/1.jpg' width=100%></div>
                   </div>
               <div class='row'>  
                   <div class='col-xs-12'>Корпорация {$game.corp_name} забрасывает исследователей на неизведанную территорию. Каждому из них выделяется ограниченная зона для поиска ископаемых. </div>
                   <div class='col-xs-12'> В разные века земля принадлежала различным народам и племенам. В ее недрах, помимо важных ресурсов, сохранилось множество ценных артефактов. </div>
                   <div class='col-xs-12'>Выполняйте задания Корпорации и получайте денежное вознаграждение. <strong>Связь</strong> с корпорацией для продажи ценных артефактов возможна <strong>только на поверхности.</strong></div>
                   <div class='col-xs-12'>Найдите сундуки древних племен Майя и узнайте что спрятано внутри. Чтобы открыть сундук вам потребуется 10 магических кристаллов, спрятанных в недрах земли. </div>
                 
                </div>    
                   
               <div class='row'>  
                   <div class='col-xs-12'>      
                       <h5>Краткая инструкция</h5>
                   </div>
               </div>
               <div class='row'>  
                 <div class='col-xs-12'>      
                   <p> Копайте блоки: лопатой, киркой, дробилкой и с помощью других возможных инструментов, разработанными для вас Корпорацией. Весь доступный инвентарь (и не только) в постоянном доступе в магазине. </p> </div>
               </div>
               <div class='row m-t-5'>
                   <div class='col-xs-12'>Передвигаться можно тремя способами:</div>
                   <div class='col-xs-8'>
                           <p> 1. Мышкой кликать на стрелочки </p> </div>
                   <div class='col-xs-4'><img src="/img/game/help/2.jpg" width=100%></div>
               </div>
               <div class='row  m-t-5'>
                   <div class='col-xs-8'>
                       <p> 2. Нажимать на поля вокруг исследователя </p></div>
                   <div class='col-xs-4'><img src="/img/game/help/3.jpg" width=100%></div>              
                   <div class='col-xs-12'><p>3. Или с помощью клавиатуры: <br> <span class='fa fa-arrow-left'></span> A, <span class='fa fa-arrow-right'></span> D, <span class='fa fa-arrow-up'></span> W, <span class='fa fa-arrow-down'></span> S,</p> <span class='fa fa-hand-lizard-o'></span> E, <span class='fa fa-hand-rock-o'></span> Q</div>
               </div>
               <!--{*Информация об иконках*}-->
                <div class='row m-t-5'>
                       <div class='col-xs-12'><h5>Информация отображаемая на экране:</h5></div>
                   
                       <div class='col-xs-12 m-t-5'> <span class='fa fa-heart'></span> 100% - запас здоровья. Когда теряется здоровье? 1. При падении. 2. При нападении монстров 3. Когда заканчивается кислород. Как восстановить здоровье? 1. После смерти :) 2. Покупка аптечки в магазине </div>
                       <div class='col-xs-12 m-t-5'> <span class='fa fa-battery-4'></span> 100% - запас кислорода. Чтобы дышать под землей вам нужен кислород. Каждый раз, когда вы подниметесь на поверхность, кислород восстанавливается. Когда теряется кислород? 1. Когда вы находитесь под землей. Чем глубже вы спускаетесь, тем больше кислорода потребляется. 2. При разрушении блоков</div>      
     
                       <div class='col-xs-12 m-t-5'> <span class='fa fa-btc'></span> 100 - деньги. Это ваш запас денег. Вы можете тратить их в магазине на покупку необходимых вам вещей. Как зарабатывать? 1. Продавайте блоки. Абсолютно все блоки можно продать. 2 – Сражайтесь с монстрами. После победы над монстром вы получите денежное вознаграждение. 3 - Выполняйте задания</div>  
                       <div class='col-xs-12 m-t-5'> <span class='fa fa-compass'></span> X:Y - координаты. Ваш единственный помощник для ориентации под землей. Если ваш друг сообщил вам свои координаты, вы легко сможете понять, куда двигаться. Корпорация уже готовит карту, на которой будет видны все прокопанные туннели. </div>
                       <div class='col-xs-12 m-t-5'> <span class='fa fa-users'></span> Другие исследователи поблизости в радиусе 100 метров. 1 блок = 1 метр. </div>
                       <div class='col-xs-12 m-t-5'> <span class='fa fa-shopping-basket'></span> Ваш рюкзак. Место в рюкзаке ограничено. В самом начале пути вместимость рюкзака всего 30 мест. Каждый объект или блок занимают 1 место. Если вы набрали полный рюкзак, вы не сможете копать дальше и поднимать объекты. Как увеличить вместимость рюкзака? Покупайте рюкзаки в магазине. Их вместимость больше стандартного рюкзака, но им свойственно изнашиваться. Различные дополнительные виды рюкзаков разрабатывает корпорация. Следите за обновлением ассортимента магазина. </div>          
     
                       <div class='col-xs-12 m-t-5'> <span class='fa fa-hand-lizard-o'></span> Кнопка управления: Взять предмет. Поднимает объекты с земли и позволяет забирать лестницу</div>        
                       <div class='col-xs-12 m-t-5'> <span class='fa fa-hand-rock-o'></span> Кнопка управления: Удар. Ударяет монстров</div>                        
                   </div>
                <div class='row m-t-5'>
                                   <div class='col-xs-12'><h5>Игровой процесс:</h5></div>
                                </div>
                 <div class='row m-t-5'>
                   <div class='col-xs-12 '>Вы можете упасть. Падение с высоты более 3-х блоков грозит потерей запаса здоровья. Падение с высоты более 10-ти блоков смертельно! После смерти вы попадаете на исходную точку </div>      
                 </div>
               <div class='row m-t-5'>
                   <div class='col-xs-8'>Прокопав блок "вниз" не забудь поставить лестницу, чтобы всегда была возможность подняться на поверхность. Перед походом убедитесь, что у вас достаточно лестниц в инвентаре. </div>     <div class='col-xs-4'> <img src="/img/game/help/7.jpg" width=100%></div>    
                   </div>
                 <div class='row m-t-5'>
                   <div class='col-xs-12'>Купить лестницу можно в магазине. Открыть меню магазина можно нажав на иконку <span class='fa fa-dot-circle-o'></span></div>        
                 </div>
                 
              <div class='row m-t-5'>
                   <div class='col-xs-12'><h5>Блоки</h5></div>
                </div>                  
               <div class='row m-t-5'>      
                   <div class='col-xs-8'> <strong> Земля </strong> - Блок встречается часто. Имеет малую прочность, легко копается, но мало стоит при продаже. </div> <div class='col-xs-4'><img src="/img/game/block_2.png" width=100%></div>
               </div>
               <div class='row m-t-5'>      
                   <div class='col-xs-8'> <strong> Гравий</strong> </div> <div class='col-xs-4'><img src="/img/game/block_3.png" width=100%></div>
               </div>
               <div class='row m-t-5'>      
                   <div class='col-xs-8'> <strong> Камень</strong> </div> <div class='col-xs-4'><img src="/img/game/block_4.png" width=100%></div>
               </div>
 
                <div class='row m-t-5'>      
                   <div class='col-xs-8'> <strong> Уголь</strong> </div> <div class='col-xs-4'><img src="/img/game/block_5.png" width=100%></div>
               </div>
 
               <div class='row m-t-5'>      
                   <div class='col-xs-8'> <strong> Металл</strong> </div> <div class='col-xs-4'><img src="/img/game/block_8.png" width=100%></div>
               </div>
 
               <div class='row m-t-5'>      
                   <div class='col-xs-8'> <strong> Золото</strong> </div> <div class='col-xs-4'><img src="/img/game/block_9.png" width=100%></div>
               </div>
 
               <div class='row m-t-5'>      
                   <div class='col-xs-8'> <strong> Алмаз</strong> Самый дорогой и прочный. Встречается очень редко. Чтобы найти его, придется потрудиться!.</div> <div class='col-xs-4'><img src="/img/game/block_10.png" width=100%></div>
               </div>
                                                                               
               <div class='row m-t-5'>      
                   <div class='col-xs-8'> <strong> Анти-блок </strong> - этот блок нельзя разбить. Если подкопать под ним, то блок обрушится прямо на вас и вы умрете. Блок падает через 4 секунды. За это время вам нужно либо пройти дальше, либо поставить лестницу или другие объекты. </p> </div> <div class='col-xs-4'><img src="/img/game/block_11.png" width=100%></div>
               </div>
 
               <div class='row m-t-5'>               
                   <div class='col-xs-4'> <img src="/img/game/help/4.jpg" width=100%></div>
                   <div class='col-xs-4'><img src="/img/game/help/5.jpg" width=100%></div>
                   <div class='col-xs-4'><img src="/img/game/help/6.jpg" width=100%></div>
                </div>
            </div>

            
            <div class="tab-pane fade {if $gamer_info.help==2}active{/if}" id="help2"> 
                <h4>Последние новости</h4>

                <h5>20 Ноября 2016</h5>
                <div class='row'>
                    <div class='col-xs-12'>
                        <ul>
                            <li>Новый объект антенна - поставьте объект чтобы уверенно принять сигнал, приемник начинает плохо работать ниже  50 метров, ниже 100 метров вероятность соединиться с магазином 1 к 100. Мощность приёмника можно увеличить кристаллами. Каждая попытка соединения уменьшает здоровье приемника</li>
                            <li>Исправление ошибок</li>
                        </ul>
                    </div>
                </div> 
                <h5>19 Ноября 2016</h5>
                <div class='row'>
                    <div class='col-xs-12'>
                        <ul>
                            <li>Добавлены задачи: выполняйте задания и получайте за это деньги. Два типа задач: <strong>Найти блок определенное количество штук</strong>, и <strong>Выполнить определенное действие</strong> (Пройти 10 метров, ударить монстра 2 раза) и т.д.</li>
                            <li>Добавлен пункт - забрать всё из инвентаря, поместить всё в сундук</li>
                            <li>Исправление ошибок</li>
                        </ul>
                    </div>
                </div> 
                <h5>12 Ноября 2016</h5>
                <div class='row'>
                    <div class='col-xs-12'>
                        <ul>
                            <li>Ремонт вещей версия 1. Теперь у каждой вещи есть дополнительные кнопки усиливающие тот или иной эффект. Для действия необходимы кристаллы, они должны быть в инвентаре. Внимательно изменяйте свойства объектов, не изменяйте не нужные свойства. Например, нет смысла добавлять Отмычке длительности жизни, но есть смысл изменить эффективность.</li>
                            <li>Добавлен пункт - удалить все из инвентаря</li>
                            <li>Легкое изменение  панели управления</li>
                            <li>Добавлена новая порода</li>
                        </ul>
                    </div>
                </div>    
                <h5>11 Ноября 2016</h5>
                <div class='row'>
                    <div class='col-xs-12'>
                        <ul>
                            <li>Новый инструмент ключ-отмычка. Теперь чужие сундуки оставленные после смерти можно взламывать. Для этого нужно купить ключ и активировать его. С  активным ключом есть вероятность открыть сундук. Чем ценнее ключ, тем выше вероятность взломать сундук. После взлома сундук становится владением взломщика. Другой игрок должен будет взломать сундук заново</li>
                            <li>Добавлена новая порода</li>
                        </ul>
                    </div>
                </div>                
                <h5>10 Ноября 2016</h5>
                <div class='row'>
                    <div class='col-xs-12'>
                        <ul>
                            <li>Лифт. В магазине стал доступен лифт. Чтобы установить лифт, у вас должен быть туннель на 20 блоков. Лестницу можно оставить если не жалко. Чтобы установить встаньте над ямой больше 20 блоков и нажмите на иконку лифта в инвентаре. Если не будет никаких препятствий лифт успешно создастся. Чтобы воспользоваться: войди в кабинет и жмите на иконку "Взять" (рядом с иконкой кулака). Откроется окошко и будут доступны этажи. </li>
                            <li>Мини-биржа. Цена на блоки меняется в зависимости от интенсивности продажи</li>
                            <li>Общие исправления ошибок</li>
                            <li>Добавлены монстры, две новые породы. Монстры стали сильнее, советую держать бомбы в инвентаре. Помните, бомбы не возвращают объекты после смерти монстров</li>
                        </ul>
                    </div>
                </div>
                <h5>07 Ноября 2016</h5>
                <div class='row'>
                    <div class='col-xs-12'>
                        <ul>
                            <li>Баллон кислорода теперь многоразовый. Одного баллона теперь хватит на 4 полных заправки. Одна заправка дает половину кислорода</li>
                            <li>Добавлен новый объект - Приемник. Помогает настроить связь с магазином под землей. Не забудьте активировать если будете под землей и деактивировать если поднимитесь</li>
                            <li>Добавлены новые категории лидеров</li>
                        </ul>
                    </div>
                </div>
                <h5>06 Ноября 2016</h5>
                <div class='row'>
                    <div class='col-xs-12'>
                        <ul>
                            <li>Добавлена поддержка оружия и инструментов</li>
                            <li>Два новых товара в магазине: лопата и дубина. Всеми объектами можно драться и копать. Лопата может быть оружием, а дубина даст + к копке</li>
                            <li>Исправлены ошибки с инвентарем. Теперь предметы которые изнашиваются - не группируются.</li>
                        </ul>
                    </div>
                </div>
                <h5>04 Ноября 2016</h5>
                <div class='row'>
                    <div class='col-xs-12'>
                        <ul>
                            <li>Добавлен чат</li>
                        </ul>
                    </div>
                </div>
                <h5>03 Ноября 2016</h5>
                <div class='row'>
                    <div class='col-xs-12'>
                        <ul>
                            <li>Добавил иконку объекта который вываливается из монстра</li>
                            <li>Если инвентарь полон, из монстра выпадает только деньги</li>
                            <li>Бомбы теперь можно ставить рядом с любыми объектами</li>
                        </ul>
                    </div>
                </div>
            
            </div>
                    </div>
             
                    </div>          
                </div>              
            </div>       