<style>
.inv_object_chest .badge,.inv_object .badge, .inv_block .badge, .inv_block_chest .badge{ position: absolute; top:10px; left:40px;}    
</style>
{if isset($chest)}
<h4>Ящик #{$list.0.id_chest}</h4>
{else}{/if}
 {if $list|count==0}<h4>Ваш инвентарь пуст</h4>{/if}  
 
 <div class='col-xs-12'><div class='inventory-view pull-right'><span class='fa fa-th-large fa-2x '></span></div><h5>Инвентарь</h5></div>
<div class='row'>
   
{$i=0} 
{foreach from=$list item=row}       
{if ($row.id_object>0)}
    {$i=$i+1}

        <div class='col-xs-3  inv_object{if isset($chest)}_chest{/if} ' data-id='{$row.id_object}' data-id_record='{$row.id}' style=" cursor: pointer">
            <img src='/img/game/objects/{$row.id_object}.png' width=64> 
            <span class='badge bg-danger'>{$row.count}</span>
        </div>
        <div class='col-xs-6  no-m item-info'>
            {$row.object_title}<br>
            {if $row.life!=$row.life_full}Износ:&nbsp;{100-$row.life_percent}%<br>{/if}
            {if $row.object_act==1}<strong>Активно</strong><br>{/if}            
        </div>
        <div class='col-xs-3 no-p no-m item-info'>
         
            <div class="btn-group  btn-xs">
               {if $row.object_act==0 && 1==2} <button type="button" class="btn btn-primary  no-p remove-inventory"  data-id='{$row.id_object}'   data-id_object='{$row.id_object}'  data-id_block='{$row.id_block}' data-id_record='{$row.id}' style=' padding:2px 2px'><span class='fa fa-trash  fa-2x'></span></button>{/if}
                <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Меню с переключением</span>
                </button>
                <ul class="dropdown-menu pull-right " role="menu" >   
                    {if $row.object_act==0}
                    {if isset($chest)} <li><a href="#" class=' get-out-box' data-id='{$row.id_object}'  data-id_record='{$row.id}' data-all=0><span class='fa fa-archive  fa-2x'></span> Взять из сундука</a></li> <li><a href="#" class=' get-out-box' data-id='{$row.id_object}'  data-id_record='{$row.id}' data-all=1><span class='fa fa-archive  fa-2x'></span> Взять всё</a></li>{/if}
                    
                    {if !isset($chest)}
                    <li><a href="#" class='put-to-box' data-id='{$row.id_object}'  data-id_record='{$row.id}' data-all=0><span class='fa fa-archive  fa-2x'></span> Убрать в сундук</a></li> 
                    <li><a href="#" class='put-to-box' data-id='{$row.id_object}'  data-id_record='{$row.id}' data-all=1><span class='fa fa-archive  fa-2x'></span> Убрать всё</a></li>
                    {/if}
                    <li><a href="#" class='remove-inventory'  data-id_object='{$row.id_object}'><span class='fa fa-trash   fa-2x'></span> Выбросить</a></li>
                    <li><a href="#" class='remove-inventory'   data-id_object='{$row.id_object}' data-all=1><span class='fa fa-trash   fa-2x'></span> Выбросить всё</a></li>
                    {/if}
                    <li class="divider"></li>
                    <li><a href="#" class='inv_object'  data-id='{$row.id_object}' data-id_record='{$row.id}'><span class='fa fa-hand-pointer-o   fa-2x'></span> {if $row.object_act==0}Активировать{else} Деактивировать{/if}</a></li>
              {*  *}     <li class="divider"></li>
              
                    <li><a href="#" class='use-magic'  data-id='{$row.id_object}' data-id_record='{$row.id}' data-magic=1><span class='fa fa-wrench fa-2x'></span> Ремонт<br>
                        Кристалл Black 1 шт.
                    </a></li>
                    <li><a href="#" class='use-magic'  data-id='{$row.id_object}' data-id_record='{$row.id}' data-magic=2><span class='fa fa-wrench fa-2x'></span> Увеличить жизнь<br>
                        Кристалл Orange 1 шт.</a></li>
                    <li><a href="#" class='use-magic'  data-id='{$row.id_object}' data-id_record='{$row.id}' data-magic=3><span class='fa fa-wrench fa-2x'></span> Увеличить силу копания<br>
                       Кристалл Purple 1 шт.</a></li>
                    <li><a href="#" class='use-magic'  data-id='{$row.id_object}' data-id_record='{$row.id}' data-magic=4><span class='fa fa-wrench fa-2x'></span> Увеличить силу удара<br>
                        Кристалл Red 1 шт.</a></li>
                    <li><a href="#" class='use-magic'  data-id='{$row.id_object}' data-id_record='{$row.id}' data-magic=5><span class='fa fa-wrench fa-2x'></span> Увеличить эффект (для предметов)<br>
                       Кристалл Yellow 1 шт.</a></li>
                </ul>
            </div>
         
        </div>
<div class='clearfix  item-info'></div>
 
{/if}
{/foreach}
</div> 

<div class='row'>  
    <div class='col-xs-12'><h5>Строительные блоки</h5></div>
{$i=0} 
{foreach from=$list item=row}  
    {if ($row.id_block>0)}{$i=$i+1}

        <div class='col-xs-3   inv_block{if isset($chest)}_chest{/if} ' data-id='{$row.id_block}'>
             <img src='/img/game/block_{$row.id_block}.png' width=64> <span class='badge bg-danger'>{$row['count']}</span>
        </div>
        <div class='col-xs-6 no-m  item-info'>{$row.block_title}</div>
        <div class='col-xs-3 no-p no-m  item-info'>
            <div class="btn-group  btn-xs">
               {if $row.object_act==0 && 1==2} <button type="button" class="btn btn-primary  no-p remove-inventory"  data-id='{$row.id_object}'   data-id_object='{$row.id_object}'  data-id_block='{$row.id_block}' data-id_record='{$row.id}' style=' padding:2px 2px'><span class='fa fa-trash  fa-2x'></span></button>{/if}
                <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Меню с переключением</span>
                </button>
                <ul class="dropdown-menu pull-right " role="menu" >   
                    {if $row.object_act==0}
                    {if isset($chest)} <li><a href="#" class=' get-out-box-block' data-id='{$row.id_block}'  data-id_record='{$row.id}' data-all=0><span class='fa fa-archive  fa-2x'></span> Взять из сундука</a></li>
                    <li><a href="#" class=' get-out-box-block' data-id='{$row.id_block}'  data-id_record='{$row.id}' data-all=1><span class='fa fa-archive  fa-2x'></span> Взять всё</a></li>{/if}
                    {if !isset($chest)}
                    <li><a href="#" class='put-to-box-block' data-id='{$row.id_block}'  data-id_record='{$row.id}' data-all=0><span class='fa fa-archive  fa-2x'></span> Убрать в сундук</a></li> 
                    <li><a href="#" class='put-to-box-block' data-id='{$row.id_block}'  data-id_record='{$row.id}' data-all=1><span class='fa fa-archive  fa-2x'></span> Убрать всё</a></li>
                    {/if}
                    <li><a href="#" class='remove-inventory'   data-id_block='{$row.id_block}' data-all=0><span class='fa fa-trash   fa-2x'></span> Выбросить </a></li>
                    <li><a href="#" class='remove-inventory'   data-id_block='{$row.id_block}' data-all=1><span class='fa fa-trash   fa-2x'></span> Выбросить всё</a></li>
                    {/if}
                </ul>
            </div></div>


        <div class='clearfix'></div>
    {/if}
{foreachelse}
Нет блоков
{/foreach}
</div>
