<style>
.my-stat div{ margin: 1px; padding: 1px;}
</style>

<div class="modal-header hidden"></div>
   
    <ul class="nav nav-tabs tabs-float tabs-dark font-12">    
        <li role="presentation" class="active"><a href="#stat3" data-toggle="tab" aria-expanded="true">Задачи</a></li>
        <li role="presentation"><a href="#stat1" data-toggle="tab" aria-expanded="true">Cтатистика</a></li>
        <li role="presentation"><a href="#stat2" data-toggle="tab" aria-expanded="true">Лидеры</a></li>       
        <li  class="pull-right m-r-10"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></li>
    </ul>

                

<div class="modal-body no-p">    
    <div class="tab-content b-all no-b-t p-20 bg-white font-12">
    
    <div class="tab-pane fade" id="stat1" style='font-size:1.1em'>          
        <div class='row'>
            
    <div class='col-xs-4 no-p my-stat '>
        <div class='  btn-primary text-center '>
        Дистанция {$my_stat.distance} м
        </div>
    </div>
            
    <div class='col-xs-4 no-p my-stat '>
        <div class='  btn-primary text-center '>
        Глубина {$my_stat.deep} м
        </div>
    </div>
            
    <div class='col-xs-4 no-p my-stat '>
        <div class='  btn-primary text-center '>
        Удар монстра {$my_stat.kick_monster} раз
        </div>
    </div>
            
    <div class='col-xs-4 no-p my-stat '>
        <div class='  btn-primary text-center '>
        Убил монстра {$my_stat.kill_monster} раз
        </div>
    </div>
            
    <div class='col-xs-4 no-p my-stat '>
        <div class='  btn-primary text-center '>
        Убил игрока {$my_stat.kill_user} раз
        </div>
    </div>

            
    <div class='col-xs-4 no-p my-stat '>
        <div class='  btn-primary text-center '>
        Установил блок {$my_stat.block_user} раз
        </div>
    </div>
            
    <div class='col-xs-4 no-p my-stat '>
        <div class='  btn-primary text-center '>
        Разбил блок {$my_stat.block_break} раз
        </div>
    </div>
            
    <div class='col-xs-4 no-p my-stat '>
        <div class='  btn-primary text-center '>
        Продал блок {$my_stat.block_sell} раз
        </div>
    </div>


            
    <div class='col-xs-4 no-p my-stat '>
        <div class='  btn-primary text-center '>
        Объект поднят {$my_stat.object_take} раз
        </div>
    </div>        
            
    <div class='col-xs-4 no-p my-stat '>
        <div class='  btn-primary text-center '>
        Объект использован {$my_stat.object_use} раз
        </div>
    </div>
            
    <div class='col-xs-4 no-p my-stat '>
        <div class='  btn-primary text-center '>
        Объект куплен {$my_stat.object_buy} раз
        </div>
    </div>

            
    <div class='col-xs-4 no-p my-stat '>
        <div class='  btn-primary text-center '>
        Вызвана помощь {$my_stat.emergency_call} раз
        </div>
    </div>
                        
</div>
    </div>

  
<div class="tab-pane fade" id="stat2"> 
    <h4 class='m-t-30'>Топ 3 спелеологов</h4>
    <div class='row'>
        <div class='col-xs-4 text-center'>Игрок</div>
        <div class='col-xs-8'>Максимальная глубина</div>
    </div>
    {foreach from=$top_digger item=row}
    <div class='row m-t-30'>
        <div class='col-xs-4 '> <span class='chat-item'><div class="profile-pic"><img src="{$row.avatar}" alt="" class="img-circle"></div>#{$row.id_user}</span></div>
        <div class='col-xs-8'><strong>{$row.deep} м</strong></div>    
    </div>
    {/foreach}

    <h4 class='m-t-30'>Топ 3 богачей</h4>
    <div class='row'>
        <div class='col-xs-4 text-center'>Игрок</div>
        <div class='col-xs-8'>Сумма</div>
    </div>
    {foreach from=$top_money item=row}
    <div class='row m-t-30'>
        <div class='col-xs-4 '> <span class='chat-item'><div class="profile-pic"><img src="{$row.avatar}" alt="" class="img-circle"></div>#{$row.id_user}</span></div>
        <div class='col-xs-8'><strong>{$row.money} </strong></div>    
    </div>
    {/foreach}
    
    <h4 class='m-t-30'>Топ 3 истребителей монстров</h4>
    <div class='row'>
        <div class='col-xs-4 text-center'>Игрок</div>
        <div class='col-xs-8'>Убитые монстры</div>
    </div>
    {foreach from=$top_monster item=row}
    <div class='row m-t-30'>
        <div class='col-xs-4 '> <span class='chat-item'><div class="profile-pic"><img src="{$row.avatar}" alt="" class="img-circle"></div>#{$row.id_user}</span></div>
        <div class='col-xs-8'><strong>{$row.kill_monster}</strong></div>    
    </div>
    {/foreach}
    
        <h4 class='m-t-30'>Топ золотоискателей</h4>
    <div class='row'>
        <div class='col-xs-4 text-center'>Игрок</div>
        <div class='col-xs-8'>Золото</div>
    </div>
    {foreach from=$top_gold item=row}
    <div class='row m-t-30'>
        <div class='col-xs-4 '> <span class='chat-item'><div class="profile-pic"><img src="{$row.avatar}" alt="" class="img-circle"></div>#{$row.id_user}</span></div>
        <div class='col-xs-8'><strong>{$row.count} шт</strong></div>    
    </div>
    {/foreach}
      
  </div>
<div class="tab-pane fade active in" id="stat3"> 
    <h4>Найдите все элементы</h4>
    <div class='row'>
{foreach from=$found_block item=row}
        <div class='col-xs-3 no-p'>
            {if $row.id_block>0}<img src='/img/game/block_{$row.id_block}.png' width=64>{else}<img src='/img/game/question.png' width=64>{/if}
        </div>
{/foreach}
    </div>
      
  </div>
</div>
</div>
<div class="modal-footer">

    <button type="button" class="btn btn-default hidden" data-dismiss="modal">Закрыть</button>
</div>