<style> 
    .enemy, .friend{ padding:5px 0px 5px 0px; cursor:pointer; height: 70px; }
    .enemy img, .friend img{ margin-bottom:10px}
</style>
<div class='row  m-t-5'>   
    <div class='col-xs-12'>(Нажмите на монстра чтобы нанести урон)</div>    
    <div class='col-xs-6 no-p'>
        <h5 style=' height:30px;'>Команда монстров</h5>       
            {foreach from=$players item=row}
            {if $row.side==1} 
            <div class=' btn-primary col-xs-12 fight-kick-monster no-p m-b-10 enemy' data-id_monster='{$row.id_monster}'>
                <img src="../img/game/monsters/{$row.type}.png" width='25%' class="img-circle" align='left'>
                Монстряка {$row.id_monster}<br> 
                <span class='fa fa-heart'></span> {($row.life/$row.life_full)*100} <span class='fa fa-hand-rock-o '></span> {$row.dm}<br><span class='fa fa-shield '></span> 10
            </div>       
  {/if}
            {/foreach}
    </div> 
    <div class='col-xs-6 no-p'>
        <h5 style=' height:30px;'>Моя команда</h5>
        
        {foreach from=$players item=row}
            {if $row.side==2} 
            <div class='btn-success col-xs-12 fight-kick-monster no-p m-b-10 friend'>
                <img src="../img/game/user_static.png" class="img-circle" align='left' hspace="5" vspace="5">
                {$row.id_user}<br>
                <span class='fa fa-heart'></span>100% <span class='fa fa-hand-rock-o '></span> 0.2 <br><span class='fa fa-shield '></span> 10
            </div>      
            {/if}
        {/foreach}                             
    </div>                
</div>