    <div class="modal fade" tabindex="-1" role="dialog" id='chat'>
        <div class="modal-dialog">
            <div class="modal-content">    
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Чат</h4>
                </div>
                <div class="modal-body m-1">
                    <div class="app-col-header m-t-5">
                        <div class="input-link-in">
                            <input class="form-control input-rounded input-sm" placeholder="Введите текст сообщения" name='message'>
                            <a href="#" class="link-in click-message " style=' margin-right:20px'><i class="fa fa-send-o"></i></a> 
                            <a href="#" class="link-in dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bomb"></i></a>
                                <ul class="dropdown-menu pull-right " role="menu" >            
                                <!--fa-hand-rock-o-->
                                    <li><a href="#" class='pvp-ambush'  data-ambush=0><span class='fa fa-hand-rock-o   fa-2x'></span> Воевать</a></li>
                                    <li class="divider"></li>                              
                                    <li><a href="#" class='pvp-attack'><span class='fa fa-bomb fa-2x'></span> Бросить бомбу</a></li>
                                </ul>
                        </div>     
                    </div>
            
<div class="loading-wrap">
              <div class="loading-dots">
                <div class="dot1"></div>
                <div class="dot2"></div>
              </div>
            </div>
              <div class="chat-items font-12 chat-list">

              </div><!-- /.chat-items -->
            
        
                </div>
                <div class="modal-footer">
          
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
              
              
              

                    </div>          
                </div>              
            </div>   
            
