{include file='game_head.html'}
<style>
    body{ position: relative; background-color: }
.map_field{ width: 70px; height:78px;position: absolute; }  
.map_field img{ position: absolute; width: 64px; height:64px; }  
.breed{ width: 70px; height:78px; position: absolute; z-index: 65}
.breed_btn{ background-image: url('img/game/images.png'); width: 64px; height:64px; padding: 5px 0px 0px 20px;}
/*.user{ color:#f1f0f0; font-size:50px; position:absolute; z-index: 4; top:0px; left:0; background-image:url('img/game/user.png'); width:40px; height:64px;  background-size:850px; } margin: 10px 0px 0px 10px; color:#fff; */
.user, .user_other{ color:#f1f0f0; font-size:50px; position:absolute; z-index: 4; top:25px; left:0px; background-image:url('img/game/user_skin2.png'); width:30px; height:40px; }
     
.underground{ background-color: #a98909;width: 64px; height:64px; position: absolute; z-index: 3}
.aboveground{ background-color: #bae2ff;width: 64px; height:64px; position: absolute; z-index: 3}

.stairs{ background-position-x: 0px; background-position-y: -448px }
.object1{ background-position-x: 0px; background-position-y: -448px }

.block1{ background: url('img/game/new_block/block1.png');} /* земля  с травой*/
.block2{ background-position-x: -128px; background-position-y: 0px } /* заемля */
.block3{ background-position-x: -64px; background-position-y: 0px } /* камни 1*/
.block4{ background-position-x: 0px; background-position-y: -64px } /* камни 2*/
.block5{ background-position-x: -128px; background-position-y: -128px } /* уголь */

.block6{ background: url('img/game/new_block/block6.png'); } /* дерево*/
.block7{ background: url('img/game/new_block/block7.png'); } /* елка */

.block8{ background-position-x: -64px; background-position-y: -128px } /* металл */
.block9{ background-position-x: -256px; background-position-y: -128px } /*  золото */
.block10{ background-position-x: 0px; background-position-y: -192px } /* бриллиант */

.monitor{ position: absolute; z-index: 200; top:10px}
.map{ position: relative; width:320px; border:1px solid #000; height: 450px}
.control{  position: absolute; z-index: 200;  color:#fff; left:5px; bottom:5px;  border:0px; padding: 0px; margin: 0px;  text-align: center; 
    -webkit-text-shadow:  0 0 10px rgba(0,0,0,0.5);
    -moz-text-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.control  i{ width:35px; height:35px; font-size:35px; margin:5px; cursor: pointer}
.control .click-take{
    -webkit-transform: rotate(-90deg); /* Chrome y Safari */
    -moz-transform: rotate(-90deg); /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
    -o-transform: rotate(-90deg); /* Opera */
}
.inventory_shop div .badge { left:-10px;}
.inventory_fast .breed_btn{ width:40px; height:40px; margin-bottom: 10px; box-shadow: 1px 0px 8px #fff; }
.click-object-buy{ cursor: pointer}
.shop_btn{ width: 40px; height:40px; background-size:100% 100% }

.monster1{ position:absolute; z-index: 3;  background-image: url('img/game/monsters/1.png'); background-size: 100% 100%; width:64px; height:64px;

}



</style>  
<div class='control' >
    <i class='fa fa-arrow-up walk' data-direction='up'></i><br>
    <i class='fa fa-arrow-left walk' data-direction='left'></i><i class='fa fa-dot-circle-o win-open' data-window="#inventory"></i><i class='fa fa-arrow-right  walk' data-direction='right'></i><br>
    <i class='fa fa-arrow-down walk' data-direction='down'></i>
</div>	

<div class='control' style='left:215px; bottom:50px; ' >
    <i class='fa fa-hand-lizard-o click-take' style=' margin-right: 10px;  font-size:30px'></i>
    <i class='fa fa-hand-rock-o click-kick' style='  font-size:35px'></i>
</div>	
<div class='control inventory_fast' style='left:270px; bottom:90px;  width:30px'>
    <div class=' btn btn-primary breed_btn inv_object_fast  object1' data-id='1'><span class="badge bg-danger">0</span></div>
</div> 

    	<div class="wrapper animsition  nav-top has-footer" style='margin:0px; padding:0px;'>
         <div class="main-container" >
    <div class="container" style='margin:0px; padding:0px;'> 
 <div class='map'>
<div class='monitor indicator_heart' style='left:10px;'><span class='fa fa-heart ' style=' color:#fff'></span> 100%</div>
<div class='monitor indicator_compass' style=' left:70px; color:#fff'><span class='fa fa-compass' style=' color:#fff'></span> 10:9</div>
<div class='monitor indicator_money' style=' left:140px; color:#fff'><span class='fa fa-btc' style=' color:#fff'></span> 10 </div>
<div class='monitor indicator_oxigen' style=' right:10px;' data-container="body" data-toggle="popover" data-placement="bottom" data-content="Кислород который необходим под землей">  <span class='fa fa-battery-full' style=' color:#fff'></span> 100%</div>

<div class='monitor indicator_online' style='top:30px; right:33px; color:#fff' data-container="body" data-toggle="popover" data-placement="bottom" data-content="Online игроки">  <span class='fa fa-users'></span> 2</div>

{$map}
</div>


    <div class="modal fade" tabindex="-1" role="dialog" id='inventory'>
        <div class="modal-dialog">
          <div class="modal-content">

                
            <ul class="nav nav-tabs tabs-float tabs-dark font-12">
                <li role="presentation" class="active"><a href="#infoTab" data-toggle="tab" aria-expanded="true">Инвентарь</a></li>
                <li role="presentation" class=""><a href="#portfolioTab" data-toggle="tab" aria-expanded="false">Магазин</a></li>
                <li  class="pull-right m-r-10"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></li>
            </ul>
                
            <div class="tab-content b-all no-b-t p-20 bg-white font-12">
              <div class="tab-pane fade active in" id="infoTab">

                    <div class='col-md-12 inventory row'>
                        
                        <div class=' btn btn-primary breed_btn object1 click-set-stairs hidden'><span class="badge bg-danger">0</span></div>
                        <div class=' btn btn-primary breed_btn inv_block block2'><span class="badge bg-danger">0</span></div>
                        <div class=' btn btn-primary breed_btn inv_block  block3'><span class="badge bg-danger">0</span></div>
                    </div> 
              </div>
              
              <div class="tab-pane fade" id="portfolioTab"> 
                <h5>Мой товар - нажмите чтобы продать</h5>     
                <div class='col-md-12 inventory_shop row' data-shop=1></div>
                <h5>Товар магазина - нажмите чтобы купить</h5>
                   
                <div class='row'>
                            {foreach from=$shop item=row}     
                            <div class='col-xs-6 click-object-buy' data-id='{$row.id}'>
                            <div class='col-xs-6 col-md-6 no-m no-p'>             
                              <div class='shop_btn' style=" background: url('/img/game/objects/{$row.id}.png');  background-size:100% 100%;"></div>
                            </div>
                            <div class='col-xs-6 col-md-6  no-m no-p'> 
                                {$row.title}
                                Цена: {$row.buy}
                            </div>
                            </div>
                        
                            {/foreach}    </div>
              </div>
                    </div>
             
                    </div>          
                </div>              
            </div>                
          </div>
        </div>
      </div>      

</div></div></div>
 {include file='game_footer.html'}  
