<div class="modal fade" tabindex="-1" role="dialog" id='buildings'>
    <div class="modal-dialog">
        <div class="modal-content">    
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Мои постройки</h4>
            </div>
            <div class="modal-body">
            {foreach from=$build item=row}
                <div class='row'>
                    <div class='col-xs-4'><img src='/img/game/buildings/{$row.id}.png' style=" width:64px; height:64px;"></div>
                    <div class='col-xs-8'>{$row.title}</div>
                </div>
            {/foreach}
                
{*            
            <ul class="nav nav-tabs tabs-float tabs-dark font-12">
                <li role="presentation" class="active"><a href="#build1" data-toggle="tab" aria-expanded="true">Здания</a></li>
                <li role="presentation" class=""><a href="#build2" data-toggle="tab" aria-expanded="false">Статистика боя</a></li>
                <li  class="pull-right m-r-10"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></li>
            </ul>
                
            <div class="tab-content b-all no-b-t p-20 bg-white font-12">
                <div class="tab-pane fade active" id="build1" style='font-size:1.1em'>                
                    <h4>Битва</h4>
                    
                </div>                  
                <div class="tab-pane fade " id="build2"> 
                    <h4>История боя</h4>                
                </div>
            </div> 
*}
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>          
    </div>              
</div>   