{foreach from=$message_list item=row}
<div class="chat-item {if $row.id_user==$smarty.session.user_id} right chat-main {/if}">
      <div class="profile-pic pvp-target" data-id_user='{$row.id_user}'><img src="{$row.avatar}" alt="" class="img-circle">
          {if $row.is_ready==1}<span class='fa fa-circle text-primary' style=" position:absolute; left:0px; font-size:10px;"></span>{/if}
           {if $row.is_ready==1 && $row.is_ambush==0}<span class='fa fa-circle text-danger' style=" position:absolute; left:0px; font-size:10px;"></span>{/if}</div>
      <div class="chat-content">
        <div class="chat-bubble">{$row.text}</div>
        <div class="font-10 text-muted chat-sent">{$row.date_create|date_format:"%H:%M %d.%m"} <i class="icon-checkmark text-success m-d-1 hidden"></i> {if $row.first_name==''}{$row.email}{else}{$row.first_name}{/if}</div>
      </div>
    </div>
</div>
{/foreach}