{include file='game_head.html'}
{if isset($smarty.get.map)}
{$user_map}
{else}
<style>
body{ position: relative; background-color: #000}
.map{ display: table}
.map_field{ width: 64px; height:64px; position: relative; float: left}
.map_field .badge{ position: absolute; z-index: 100}  
.map_field img{ position: absolute; width: 64px; height:64px; }  
.breed{ width: 64px; height:64px; position: absolute; z-index: 3}
.breed_btn{ background-image: url('img/game/images.png'); width: 64px; height:64px; padding: 5px 0px 0px 20px;}
/*.user{ color:#f1f0f0; font-size:50px; position:absolute; z-index: 4; top:0px; left:0; background-image:url('img/game/user.png'); width:40px; height:64px;  background-size:850px; } margin: 10px 0px 0px 10px; color:#fff; */
.user, .user_other{ color:#f1f0f0; font-size:50px; position:absolute; z-index: 10; top:25px; left:15px; background-image:url('img/game/user_skin2.png'); width:30px; height:40px; }
 user_other{ z-index: 11;}    
.underground{ background-color: #a98909;width: 64px; height:64px; position: absolute; z-index: 3}
.aboveground{ background-color: #bae2ff;width: 64px; height:64px; position: absolute; z-index: 3}

.object1{ background: url('/img/game/object_1.png');background-size: contain; z-index: 4;  }
.object6{ background: url('/img/game/objects/6.png');  background-size:contain; }
.object8{ background: url('/img/game/objects/8.png');  background-size:contain; }
.object9{ background: url('/img/game/objects/9.png');  background-size:contain; }
.object10{ background: url('/img/game/objects/10.png');  background-size:contain; }
.object11{ background: url('/img/game/objects/11.png');  background-size:contain; }
.object18{ background: url('/img/game/objects/18.png');  background-size:contain; }

.build1_1{ position:absolute; z-index: 3;  background-image: url('img/game/buildings/1_1.png'); background-size: 100% 100%; width:64px; height:64px; }
.build1_2{ position:absolute; z-index: 3;  background-image: url('img/game/buildings/1_2.png'); background-size: 100% 100%; width:64px; height:64px; }
.build1_3{ position:absolute; z-index: 3;  background-image: url('img/game/buildings/1_3.png'); background-size: 100% 100%; width:64px; height:64px; }
.build1_4{ position:absolute; z-index: 3;  background-image: url('img/game/buildings/1_4.png'); background-size: 100% 100%; width:64px; height:64px; }
{foreach from=$blocks item=$row}   
    .block{$row['id']}{  background-image: url(' {if $row.img==''}/img/game/block_{$row['id']}.png{else}{$row.img}{/if}') } 
{/foreach}

.monitor{ position: absolute; z-index: 4; top:10px;  cursor: pointer}
.monitor_alert{ position: absolute;     -webkit-text-shadow:  0 0 10px rgba(0,0,0,0.5); -moz-text-shadow: 0 0 10px rgba(0,0,0,0.5); text-shadow: 0 0 10px rgba(0,0,0,0.5); }
.map{ position: relative; width:320px;}
.control{  position: absolute; z-index: 100;  color:#fff;  bottom:5px;  border:0px; padding: 0px; margin: 0px;  text-align: center; 
     -webkit-text-shadow:  0 0 10px rgba(0,0,0,0.5);
    -moz-text-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.control  i{ width:35px; height:35px; font-size:35px; margin:5px; cursor: pointer}
.control .click-take{
    -webkit-transform: rotate(-90deg); /* Chrome y Safari */
    -moz-transform: rotate(-90deg); /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
    -o-transform: rotate(-90deg); /* Opera */
}
.inventory_shop div .badge { left:-10px;}
.inventory_fast .breed_btn{ width:40px; height:40px; margin-bottom: 10px; box-shadow: 1px 0px 8px #fff; }
.click-object-buy{ cursor: pointer}
.shop_btn{ width: 40px; height:40px; background-size:100% 100% }

.monster1{ position:absolute; z-index: 5;  background-image: url('img/game/monsters/1.png'); background-size: 100% 100%; width:64px; height:64px;}
.monster2{ position:absolute; z-index: 5;  background-image: url('img/game/monsters/2.png'); background-size: 100% 100%; width:64px; height:64px;}
.monster3{ position:absolute; z-index: 5;  background-image: url('img/game/monsters/3.png'); background-size: 100% 100%; width:64px; height:64px;}
.monster4{ position:absolute; z-index: 5;  background-image: url('img/game/monsters/4.png'); background-size: 100% 100%; width:64px; height:64px;}
.monster5{ position:absolute; z-index: 5;  background-image: url('img/game/monsters/5.png'); background-size: 100% 100%; width:64px; height:64px;}
span.obj{ position:absolute; z-index: 5;  }
.badge-chat{ position: absolute; top:5px; right:5px;} 

</style>  
<div class='control' >
    <i class='fa fa-arrow-up walk' data-direction='up'></i><br>
    <i class='fa fa-arrow-left walk' data-direction='left'></i><i class='fa fa-dot-circle-o win-open' data-window="#inventory"></i><i class='fa fa-arrow-right  walk' data-direction='right'></i><br>
    <i class='fa fa-arrow-down walk' data-direction='down'></i>
</div>	

<div class='control' style='bottom:5px; right:0px; border:1px ' >
    <i class='fa fa-hand-lizard-o click-take' style=' margin-right: 10px;  font-size:30px'></i>
    <i class='fa fa-hand-rock-o click-kick' style='  font-size:35px'></i><br>
    <i class='fa fa-bars click-menu pull-left' style=' margin-right: 10px;  font-size:35px'></i>
    <span style=" position: relative; display: table"><i class='fa fa-comment-o click-chat' style='  font-size:35px'></i> <span class='badge badge-chat'>0</span></span>
    
</div>	

<div class='control inventory_fast' style='left:270px; bottom:90px;  width:30px'>
    <div class=' btn btn-primary breed_btn inv_object_fast  object1' data-id='1'><span class="badge bg-danger">0</span></div>
</div> 

<div class="wrapper animsition  nav-top has-footer" style='margin:0px; padding:0px;'>
<div class="main-container" >
<div class="container" style="margin:0px; padding:0px; overflow: hidden; position: "> 
 <img src='/img/game/screen_blood.png' class='blood' style=' position: absolute; z-index:1051;'>
 <div class='map'>
<div class='monitor indicator_heart' style='left:10px;'><span class='fa fa-heart ' style=' color:#fff'></span> 100%</div>
<div class='monitor indicator_compass' style='top:28px; left:12px; color:#fff'><span class='fa fa-compass' style=' color:#fff'></span> 10:9</div>
<div class='monitor indicator_money' style=' left:140px; color:#fff'><span class='fa fa-btc' style=' color:#fff'></span> 10 </div>
<div class='monitor indicator_oxigen' style=' right:10px; color:#fff' data-container="body" data-toggle="popover" data-placement="bottom" data-content="Кислород который необходим под землей">  <span class='fa fa-battery-full' style=' color:#fff'></span> 100%</div>
<div class='monitor indicator_online win-open' data-window="#stat" style='top:30px; right:38px; color:#fff'>  <span class='fa fa-users'></span> 2</div>
<div class='monitor indicator_inventory' style='top:50px; right:8px; width:58px;' data-container="body" data-toggle="popover" data-placement="bottom" data-content="Заполненность нвентаря: Текущее/Максимум">  <span class='fa fa-shopping-basket'></span> 0/0</div>
                    
{for $foo=0 to 34}

<div class='map_field field_{$foo}' data-direction='{if $foo==11}left{/if}{if $foo==7}up{/if}{if $foo==13}right{/if}{if $foo==17}down{/if}'></div>
{/for} 
</div>

    <div class="modal fade" tabindex="-1" role="dialog" id='menu'>
        <div class="modal-dialog">
            <div class="modal-content">    
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Меню</h4>
                </div>
                <div class="modal-body">
                    
                    <div class='row'>    
                        <div class='col-xs-6 '>    
                            <a href="#task" class=" btn-primary win-open text-center col-xs-10" data-window="#task"><span class='fa fa-home fa-2x m-t-5'></span><br>Задачи</a>                        
                        </div>
                        <div class='col-xs-6'>            
                            <a href="#shop" class=" btn-primary win-open text-center col-xs-10" data-window="#shop"><span class='fa fa-shopping-cart fa-2x m-t-5'></span><br>Магазин</a> 
                        </div>
                    </div> 
                    <div class='clearfix m-t-5 m-b-5'></div>
                    <div class='row'>    
                        <div class='col-xs-6 '>    
                            <a href="#stat" class=" btn-primary win-open text-center col-xs-10" data-window="#stat"><span class='fa fa-cubes fa-2x m-t-5'></span><br>Лидеры и статистика</a>                            
                        </div>
                        <div class='col-xs-6'>            
                            <a href="#help" class=" btn-primary win-open text-center col-xs-10" data-window="#help"><span class='fa fa-info fa-2x m-t-5'></span><br> Помощь и новости</a>
                        </div>
                    </div>    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
              
              
              

                    </div>          
                </div>              
            </div>   
{include file='gamer_buildings.html'} <!--{* #buildings *}-->
    <div class="modal fade" tabindex="-1" role="dialog" id='inventory'>
        <div class="modal-dialog">
          <div class="modal-content">

                
            <ul class="nav nav-tabs tabs-float tabs-dark font-12" id='Tabs'>
                <li role="presentation" class="active"><a href="#infoTab" data-toggle="tab" aria-expanded="true"><span class='fa fa-shopping-basket'></span></a></li>
                <li role="presentation"  class=""><a href="#portfolioTab" data-toggle="tab" aria-expanded="false"><span class='fa fa-shopping-cart'></span></a></li>
                <li role="presentation"  class="hidden"><a href="#help" class='win-open' data-window="#help"><span class='fa fa-magic'></span></a></li>
                <li role="presentation"  class="hidden"><a href="#help" class='win-open' data-window="#help"><span class='fa fa-info'></span></a></li>
                <li role="presentation"  class=""><a href="#chest" class='chest-open' data-toggle="tab" aria-expanded="false"><span class='fa fa-archive'></span></a></li>
                <li role="presentation"  class="hidden"><a href="#stat" class='win-open' data-window="#stat"><span class='fa fa-cubes'></span></a></li>
                <li  class="pull-right m-r-10"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></li>
            </ul>
                
            <div class="tab-content b-all no-b-t p-20 bg-white font-12">
              <div class="tab-pane fade active in" id="infoTab">
                    <div class='row m-t-10'> 
                        <div class='col-xs-12'>
                                <div class='btn btn-danger btn-xs emergency_call'><div class='col-xs-2 p-t-5'><span class='fa fa-phone fa-2x '></span></div><div class='col-xs-10'> Скорая помощь. <br>Стоимость вызова: <span class='emergency_price'>{$stat.emergency_call}</span></div></div>
                        </div>
                    </div>
                    <div class=' inventory m-t-10'>
                        
   
                    </div> 
              </div>
              
            <div class="tab-pane fade" id="portfolioTab"> 
                <h4>Баланс: <span class=' indicator_money'></span></h4>
                <h5>Мой товар - нажмите чтобы продать</h5>     
                <div class='col-md-12 inventory_shop row m-b-20' data-shop=1></div>
                <h5>Товар магазина - нажмите чтобы купить</h5>
                   
                <div class='row'>
                    {foreach from=$shop item=row}    
                        {if $row.buy>0} 
                            <div class='col-xs-12  col-sm-6 col-md-6 col-lg-4  click-object-buy m-t-10' data-id='{$row.id}'>
                                <div class='col-xs-2 col-md-2 no-m no-p'>             
                                    <div class='shop_btn' style=" background: url('/img/game/objects/{$row.id}.png');  background-size:100% 100%;"></div>
                                </div>
                                <div class='col-xs-10 col-md-10  no-m no-p'> 
                                    {$row.title}<br>
                                    
                                    <strong>{$row.buy} <span class='fa fa-bitcoin'></span></strong>
                                   {if $row.life_full>0}<br>Прочность:{$row.life_full} ед.{/if}
                                </div>
                            </div>
                        {/if}
                    {/foreach}    
                </div>
              </div>
              <div class="tab-pane fade " id="chest">
                    
              </div>
              
              
            </div>
             
            </div>          
        </div>              
    </div>
    
{include file='game_help.html'}
    <div class="modal fade" tabindex="-1" role="dialog" id='fight'>
        <div class="modal-dialog">
          <div class="modal-content">                
            <ul class="nav nav-tabs tabs-float tabs-dark font-12">
                <li role="presentation" class="active"><a href="#fight1" data-toggle="tab" aria-expanded="true">Процесс боя</a></li>
                <li role="presentation" class=""><a href="#fight2" data-toggle="tab" aria-expanded="false">Статистика боя</a></li>
                <li  class="pull-right m-r-10"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></li>
            </ul>
                
            <div class="tab-content b-all no-b-t p-20 bg-white font-12">
                <div class="tab-pane fade {if $gamer_info.help==1 || $gamer_info.help==0}active{/if} in" id="fight1" style='font-size:1.1em'>                
                    <h4>Битва</h4>
                        <span id='fight_info'><span class='fa fa-spin fa-spinner'></span></span>
                </div>

              
            <div class="tab-pane fade {if $gamer_info.help==2}active{/if}" id="fight2"> 
                <h4>История боя</h4>
                
                
                  
              </div>
                    </div>
             
                    </div>          
                </div>              
            </div>              
    <div class="modal fade" tabindex="-1" role="dialog" id='stat'>
        <div class="modal-dialog">
          <div class="modal-content">                

       
            </div>          
        </div>              
    </div>   
    <div class="modal fade" tabindex="-1" role="dialog" id='task'>
        <div class="modal-dialog">
            <div class="modal-content">    
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Мои задачи</h4>
                </div>
                <div class="modal-body" style=' padding-bottom:0px;'>
                    <p style='font-size:0.8em'>Цена за выполнения задачи будет известна после выполнения, но не ниже рыночной цены. Сброс задачи: 10 монет</p>
                </div>
                <div class="modal-body task-list" style=' padding-top:0px;'>
        
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>          
        </div>              
    </div>  
    <div class="modal fade" tabindex="-1" role="dialog" id='shop'>
        <div class="modal-dialog">
            <div class="modal-content shop">    
      
            </div>          
        </div>              
    </div>   
<style>
.elevator-floor{
    font-size: 30px;
}
</style>
    <div class="modal fade" tabindex="-1" role="dialog" id='elevator'>
        <div class="modal-dialog">
            <div class="modal-content">    
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Лифт</h4>
                </div>
                <div class="modal-body">
                    <div class='row'>    
                        <div class='col-xs-8 elevator_list'>    
                            
                            
                        </div>
                        <div class='col-xs-4 text-center'>
                            <span class='elevator-floor'></span>
                            
                        </div>
                    </div>    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
              
              
              

                    </div>          
                </div>              
            </div>   
    {include file='gamer_chat.html'}
          </div>
        </div>
      </div>      

</div></div></div>
{/if}
 {include file='game_footer.html'}  
