<!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
		-->
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/jquery-ui-1.10.3.js"></script>

     <script src="js/jquery.cookie.js" type="text/javascript"></script> 	
    <!-- Bootstrap -->
       <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/moment.min.js"></script>
  	<!-- Modernizr -->
    <script src="/js/modernizr.min.js"></script>

    <!-- Slim Scroll -->
    <script src="/js/jquery.slimscroll.min.js"></script>

    <!-- Animsition -->
    <script src="/js/jquery.animsition.min.js"></script>

    <!-- Simple Calendar -->
    <script src="/js/uncompressed/simplecalendar.js"></script>

    <!-- Sparkline -->
    <script src="/js/jquery.sparkline.min.js"></script>

    <!-- Noty -->
    <script src="/js/jquery.noty.packaged.min.js"></script>

    <!-- Skycons -->
    <script src="/js/uncompressed/skycons.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
     
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/highcharts-custom.js"></script>
    <!-- App -->
    <script src="/js/app.js"></script>

    <script>
function message(mess){
    $.noty.clearQueue();
    $.noty.closeAll();
    
            noty({
                layout: 'topLeft',
                text: mess,
                theme: 'font-12',
                template: "<span class='noty_text' style=' text-shadow:0 0 10px #fff; background-color:#000; color:#fff'></span>",
                type: '',
                timeout: '1500',
                animation: {
                  open: 'animated flipInX',
                  close: 'animated flipOutX',
                  easing: 'swing', 
                  speed: 500
                }
            });    
}

$(function()  {

});
    </script>
    
{if isset($js_file)}
    {include file=$js_file}
{/if}
{include file='../js/__vk.js'}        
	</body>
</html>