<link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/css/icon.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/animsition.min.css" rel="stylesheet">
<link href="/css/app.css" rel="stylesheet">