<div class="container">
<div class="row m-t-20">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="row">
            <div class="col-lg-3 hidden">
                <!-- Primary tile -->
                <div class="box box-solid bg-light-blue">
                    <div class="box-body">
                      <p>Последний вход: {$smarty.session.user_last_date|date_format:"%d.%m.%Y"}</p>
                      <p>Последняя запись: {if !empty($smarty.session.user_last_record)}{$smarty.session.user_last_record}{else}Еще не было записей!{/if}</p>
    
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
            
        {foreach from=$purse_all item=row}
            {if $row.vis==1}
            <div class=" col-xs-12  pointer" onclick="location='/?p=purse_view&c={$row.id}'">
                <div class="panel panel-default   no-icon bg-success">
                    <div class="panel-body content-wrap"> 
                        <div class="value">
                            <h2 class="font-header no-m">{if $row.debet-$row.credit==0}0.00{else}{($row.debet-$row.credit)|number_format:2:".":"&nbsp;"}{/if}&nbsp;{$row.symbol}</h2>
                        </div>
                        <div class="detail text-right">
                            <div class="text-upper">  {if empty($row.title)}Кошелёк №{$row.id}{else}{$row.title}{/if}</div>
                        </div>
                    </div>   
                    <div class="panel-footer hidden">
                        <a href='/?p=bill_edit&id_purse={$row.id}&debet' class='fa fa-plus ' style='' data-toggle="tooltip" data-placement="bottom" title='Внести пополнение в кошелёк'></a>
                        <a href='/?p=bill_edit&id_purse={$row.id}&credit' class='fa fa-minus' style='font-size:20px' data-toggle="tooltip" data-placement="bottom" title='Внести расходы в кошелёк'></a>
                        <a href='/?p=purse_edit&id_purse={$row.id}' class='fa fa-pencil' style='font-size:20px' data-toggle="tooltip" data-placement="bottom" title='Редактировать кошелёк'></a>
                        <a href='/?p=purse_view&id_purse={$row.id}' class='fa fa-eye' style='font-size:20px' data-toggle="tooltip" data-placement="bottom" title='Посмотреть платежи в кошельке'></a>
                    </div>
                  </div>
            </div>
            {/if}
        {/foreach}
        <div class=" col-xs-12  pointer" onclick="location='/?p=purse_view&c={$row.id}'">
                <div class="panel panel-default   no-icon bg-success">
                    <div class="panel-body content-wrap"> 
                        <div class="value">
                            <h4 class="font-header no-m text-center"><i class='fa fa-plus'></i>
                                <br> Добавить кошелёк</h4>
                        </div>
                    </div>   
                  </div>
            </div>
    </div>
        </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="panel">
            <div class="panel-heading font-header">
            Последние записи <button type="button" class="btn  btn-info hvr-float-shadow btn-small pull-right btn-xs" data-toggle="modal" data-target=".modal-flip-vertical"><span class='record-ok'>Быстрая запись</span><span class='record-loading loading'><span class='fa fa-spinner fa-spin '></span> Добавляем...</span></button>
            <ul class="panel-toolbar list-unstyled hidden">
                <li class="dropdown collapse-option">
                    <a href="#" class="text-muted dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                        <ul class="dropdown-menu dropdown-animated fade-effect">
                            <li><a href="#" class="text-muted refresh-widget"><i class="icon-spinner9"></i></a></li>
                            <li><a href="#collapsedPanel3" class="expand-widget" data-toggle="collapse" aria-expanded="true"><i class="icon-circle-up"></i></a></li>
                            <li><a href="#" class="fullscreen-widget"><i class="icon-enlarge"></i></a></li>
                            <li><a><i class="icon-cross"></i></a></li>
                        </ul>
                </li>
            </ul>
        </div>
        <div id="collapsedPanel3" class="collapse in">
          <div class="panel-body no-p-t">
            <ul class="activity-widget list-unstyled no-m" id='last_records'>
                {if $bill_all|count>0}
                {foreach from=$bill_all item=row}
                <li>
                    <a href="/?p=bill_edit&c={$row.id}" class='no-icon'>
              
                      <div class="activity-detail">
                        <div class="text-dark font-12"> <strong class='{if $row.status==1}{if ($row.credit==0)}text-success{/if}{if ($row.credit==1)}text-danger{/if}{else}text-grey{/if}'>{if ($row.credit==0)}{$row.value_debet}{$row.symbol}{/if}
                {if ($row.credit==1)}-{$row.value_credit}{$row.symbol}{/if}</strong> {if empty($row.title)}Без названия{else}{$row.title}{/if}</div>
                        <div class="font-11">{if empty($row.purse_title)}Кошелёк не указан{else}{$row.purse_title}{/if}</div>
                      </div>
                      <div class="activity-time font-11 text-muted">{$row.start_date|date_format:"%d.%m.%y"}</div>
                    </a>
                </li>
                {/foreach}
                {else}
                    <li>
                       <i class="fa fa-clock-o"></i>  Платежей в этом месяце не было 
                    </li>
                {/if}
            </ul>
            <hr class="m-t-10 m-b-5">
            <div class="text-right"><a href="/?p=purse_view" class="font-10">Посмотреть всё</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="panel">
            <div class="panel-heading font-header">
            Регулярные платежи
            <ul class="panel-toolbar list-unstyled hidden">
                <li class="dropdown collapse-option">
                    <a href="#" class="text-muted dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                        <ul class="dropdown-menu dropdown-animated fade-effect">
                            <li><a href="#" class="text-muted refresh-widget"><i class="icon-spinner9"></i></a></li>
                            <li><a href="#collapsedPanel3" class="expand-widget" data-toggle="collapse" aria-expanded="true"><i class="icon-circle-up"></i></a></li>
                            <li><a href="#" class="fullscreen-widget"><i class="icon-enlarge"></i></a></li>
                            <li><a><i class="icon-cross"></i></a></li>
                        </ul>
                </li>
            </ul>
        </div>
        <div id="collapsedPanel3" class="collapse in">
          <div class="panel-body no-p-t">
            <ul class="activity-widget list-unstyled no-m" id='regular_payments'>
                {if $regular_payments|count>0}
{foreach from=$regular_payments item=row}{*/?p=bill_edit&c={$row.id}{if $row.regular_payment>0}&regular_payment={$row.regular_payment}{/if}*}
              <li>
                <a href="#" class='no-icon'>          
                    <div class="activity-detail">
                        <div class="text-dark font-12"> <strong class='{if $row.status==1}{if ($row.credit==0)}text-success{/if}{if ($row.credit==1)}text-danger{/if}{else}text-grey{/if}'>{if ($row.credit==0)}{$row.value_debet}{$row.symbol}{/if}
                {if ($row.credit==1)}-{$row.value_credit}{$row.symbol}{/if}</strong> {if empty($row.title)}Без названия{else}{$row.title}{/if}</div>
                        <div class="font-11">
                            {if $row.regularity==1}Ежедневно{/if} 
                            {if $row.regularity==2}Еженедельно{/if}           
                            {if $row.regularity==3}Каждые полгода{/if}
                            {if $row.regularity==4}Ежегодно{/if} |                 
                            {if empty($row.purse_title)}Кошелёк не указан{else}{$row.purse_title}{/if}</div>
                    <div class="font-11">Следующий платеж: {$row.start_date_last|date_format:"%d.%m.%y"}</div>
                    </div>
                    <div class="activity-time font-12 text-muted" data-click='0' >
                        <span class="badge {if $row.credit==0}bg-success{else}bg-danger{/if} to-pay-the-bill"               
                        data-id_bill='{$row.id}' 
                        data-id_bill_regular='{$row.id}' 
                        data-regularity='{$row.regularity}'
                        >Внести</span><span class='fa fa-spinner fa-spin '></span>
                        <br>
                        <span class='fa fa-remove regular-del' data-id_bill='{$row.id}'> Удалить</span>
                        </div>

                </a>
              </li>



{/foreach}
{else}
    <li>
        <blockquote class='font-11'><i class="fa fa-clock-o"></i> Нет регулярных платежей. Чтобы добавить регулярный платеж, поставьте галочку "Регулярный платеж" при создании платежа</blockquote>
    </li>
  {/if}



            </ul>
        {if $regular_payments|count>0} {* Если нет платежей выключаем кнопку*}
            <hr class="m-t-10 m-b-5">
            <div class="text-right"><a href="#" class="font-10 switch-button-regular-del">Редактировать</a></div>{/if}
          </div>
        </div>
      </div>
    </div>

</div>
        </div>
        
    <div class="modal modal-flip-vertical fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Быстрое добавление записи</h4>
            </div>
            <div class="modal-body">
            <form action='#' method="post" class="form-horizontal font-12" id='fast_record'>      
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Название платежа</label>
                    <div class="col-sm-9">
                        <input type="text" name='title' class="form-control" placeholder="Например: Оплата телефона" data-toggle="tooltip" data-placement="right" title='Совет: указывайте более подробно. В дальнейшем у вас не будет вопросов откуда взялся платёж'>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Сумма</label>
                    <div class="col-sm-5">
                        <input type="text" name='value' class="form-control" placeholder="0.00" data-toggle="tooltip" data-placement="right" title='Совет: указывайте...'>
                    </div>
                    <div class="col-sm-4">
                        <label class="switch-toggle switch-md"> Списание 
                        <input type="checkbox" name='credit' checked="checked" class='visible'>
                        <span></span>
                      </label> 
                    </div>

                </div>
                
 <div class='details'>               
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Мой кошелёк</label>
                    <div class="col-sm-9">
                        <select type="text" name="from_id_purse" class='form-control' id="id_purse" placeholder="My purse">
                            <option selected>Отсюда списать</option>
                                {foreach from=$purse_all item=row}
                                    <option value='{$row.id}'>{$row.title}</option>
                                {/foreach}
                        </select>
                    </div>
    
                </div> 
            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label">Дата</label>
                <div class="col-sm-4">
                    <input type="text" name='start_date' value='{$smarty.now|date_format:"%d.%m.%Y"}' class="form-control font-12 datetimepicker">
                    <span class="icon-calendar h4 no-m form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>      
 </div>           
            </form>    
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-gray" data-dismiss="modal">Закрыть</button>
              <button type="button" class="btn btn-main new_record" data-dismiss="modal">Внести траты</button>
            </div>
          </div>
        </div>
      </div>
    
    <div class="modal modal-flip-vertical2 fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Быстрое добавление записи2</h4>
            </div>
            <div class="modal-body">
            <form action='#' method="post" class="form-horizontal font-12" id='fast_record'>      
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Название платежа</label>
                    <div class="col-sm-9">
                        <input type="text" name='title' class="form-control" placeholder="Например: Оплата телефона" data-toggle="tooltip" data-placement="right" title='Совет: указывайте более подробно. В дальнейшем у вас не будет вопросов откуда взялся платёж'>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Сумма</label>
                    <div class="col-sm-5">
                        <input type="text" name='value' class="form-control" placeholder="0.00" data-toggle="tooltip" data-placement="right" title='Совет: указывайте...'>
                    </div>
                    <div class="col-sm-4">
                        <label class="switch-toggle switch-md"> Списание 
                        <input type="checkbox" name='credit' checked="checked" class='visible'>
                        <span></span>
                      </label> 
                    </div>

                </div>
                
 <div class='details'>               
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Мой кошелёк</label>
                    <div class="col-sm-9">
                        <select type="text" name="from_id_purse" class='form-control' id="id_purse" placeholder="My purse">
                            <option selected>Отсюда списать</option>
                                {foreach from=$purse_all item=row}
                                    <option value='{$row.id}'>{$row.title}</option>
                                {/foreach}
                        </select>
                    </div>
    
                </div> 
            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label">Дата</label>
                <div class="col-sm-4">
                    <input type="text" name='start_date' value='{$smarty.now|date_format:"%d.%m.%Y"}' class="form-control font-12 datetimepicker">
                    <span class="icon-calendar h4 no-m form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>      
 </div>           
            </form>    
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-gray" data-dismiss="modal">Закрыть</button>
              <button type="button" class="btn btn-main new_record" data-dismiss="modal">Внести изменения</button>
            </div>
          </div>
        </div>
      </div>