<style >
.item_category{  z-index:100; 
}
</style>
<aside class="right-sidebar-wrap sidebar-fixed">
        <ul class="sidebar-tab list-unstyled clearfix font-header font-11 bg-main">
          <li class="active"><a href="#sideChatTab" data-toggle="tab" class="text-muted">Chat</a></li>
          <li><a href="#sideTaskTab" data-toggle="tab" class="text-muted">Tasks</a></li>
          <li><a href="#sideAlertTab" data-toggle="tab" class="text-muted">Alerts</a></li>
        </ul>
        <div class="sidenav-inner">
          <div class="tab-content">
            <div class="tab-pane fade active in" id="sideChatTab">
              <ul class="chat-friend-list list-unstyled">

                <li class="online">
                  <div class="profile-pic">
                    <img src="/img/profile9.jpg" class="img-circle" alt="">
                  </div>
                  <div class="chat-heading">
                    <span class="chat-time">1 hr ago</span>
                    <div class="chat-name font-semi-bold font-12">Harris Wilson</div>
                  </div>
                  <div class="chat-preview">
                    <span class="badge badge-danger">5</span>
                    <p class="font-12">A rectangle accelerates the filter. A dry courtesy advances an apart conjecture.</p>
                  </div>
                </li>


              <li><p>Перенесите категорию к нужной транзакции в столбец "Категории" </p></li>
              
              {foreach from=$category_list item=row}
              <li class='item_category' style='background-color: {$row.color} ;' data-category='{$row.id}'>
            
                    <div class="profile-pic">
                     <span class="fa-stack fa-lg" style=''>
                            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fa {$row.icon} fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="chat-heading">
                        <div class="chat-name font-semi-bold font-12">{$row.title}</div>
                    </div>
  
              </li>
              {/foreach}
{*<li>
              <div class=' col-xs-1 col-sm-1 col-md-1 col-lg-1' style='background-color: {$row.color} ;padding: 5px; height: 50px; font-size:11px; text-align: center'>
              <a href='/?p=category&edit'> <span  style=' overflow: hidden; white-space: nowrap; display: block; text-shadow:0px 1px 0px white; '>Добавить</span>
                <span class="fa-stack fa-lg" style=''>
                  <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                  <i class="fa fa-plus fa-stack-1x"></i>
                </span>
                </a>
              </div>
</li>*}
       
                          
              </ul>
            </div><!-- /.tab-pane -->

            <div class="tab-pane fade" id="sideTaskTab">
              <div class="list-group font-12">
                <a href="task.html" class="list-group-item">
                  UX/UI Design
                  <div class="progress progress-striped progress-sm active m-t-5 no-m">
                    <div class="progress-bar progress-bar-success" style="width: 60%;"></div>
                  </div>
                </a>
                <a href="task.html" class="list-group-item">
                  Wordpress Integration
                  <div class="progress progress-striped progress-sm active m-t-5 no-m">
                    <div class="progress-bar progress-bar-danger" style="width: 10%;"></div>
                  </div>
                </a>
                <a href="task.html" class="list-group-item">
                  Bootstrap Application
                  <span class="pull-right">17/20</span>
                </a>
                <a href="task.html" class="list-group-item">
                  Mobile Development
                  <span class="badge badge-info">31</span>
                </a>
              </div>
            </div><!-- /.tab-pane -->
            <div class="tab-pane fade" id="sideAlertTab">
              <div class="content-wrap">
                <div class="alert alert-warning alert-dismissible font-12 m-b-10" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                  Meeting at 10:00 AM
                </div>

                <div class="alert alert-warning alert-dismissible font-12 has-icon m-b-10" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <i class="icon-info alert-icon"></i> New campaign will end in 1 hour
                </div>

                <div class="alert alert-warning alert-dismissible font-12 m-b-10" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <strong>2:30 PM</strong>, Start a new Project.
                </div>
              </div>
            </div><!-- /.tab-pane -->
          </div><!-- /.tab-content -->
        </div>
      </aside>