<div class="top-navigation">
    <div class="container">
        <div class="top-navigation-inner">
            <div class="collapse navbar-collapse" id="topNavbarCollapse">
                <ul class="nav navbar-nav magic-nav">
                    <li class="dropdown {if $smarty.get.p=='purse_view' ||  $smarty.get.p=='bill_edit'}active{/if}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i>Мои платежи</a>
                        <ul class="dropdown-menu dropdown-animated fade-effect no-arrow">
                            <li><a href="/?p=bill_edit" class="animsition-link">Добавить платеж</a></li>
                            <li><a href="/?p=bill_edit&between" class="animsition-link">Добавить платеж между кошельками</a></li>
                            <li><a href="/?p=purse_view" class="animsition-link">Посмотреть все платежи</a></li>
                        </ul>
                    </li>
                    <li class="dropdown {if $smarty.get.p=='purse_edit' ||  $smarty.get.p=='purse_list'}active{/if}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-credit-card"></i>Мои кошельки</a>
                        <ul class="dropdown-menu dropdown-animated fade-effect no-arrow">
                            <li><a href="/?p=purse_edit" class="animsition-link">Создать кошелёк</a></li>
                            <li><a href="/?p=purse_list" class="animsition-link">Список кошельков</a></li>
                        </ul>
                    </li>
                    <li class="dropdown {if $smarty.get.p=='statistics'}active{/if}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pie-chart"></i>Статистика</a>
                        <ul class="dropdown-menu dropdown-animated fade-effect no-arrow">
                            <li><a href="/?p=statistics&type=category" class="animsition-link">Статистика по категориям</a></li>
                            <li><a href="/?p=statistics" class="animsition-link">Статистика по кошелькам</a></li>
    
                        </ul>
                    </li>
                    <li class="{if $smarty.get.p=='plan'}active{/if}"><a href="/?p=plan" class="animsition-link"><i class="fa fa-bar-chart"></i>Планирование <sup>beta</sup></a></li>
                    <li class="{if $smarty.get.p=='category'}active{/if}"><a href="/?p=category" class="animsition-link"><i class="fa fa-tag"></i>Категории</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class='hidden-sm'><a href="#themeSettingModal" data-toggle="modal"><small><i class="animated theme-setting fa fa-star"></i></small> {$user_level.level}-й финансовый уровень</a></li>
                    <li><a href="/?exit" class="animsition-link">Выход</a></li>
                </ul>
        </div>
      </div>
    </div>
  </div>