<div class="col-lg-12 m-t-20">
  <div class="panel panel-default">
    <div class="panel-heading font-header">  Владелец: {if $purse_one.id_user==$smarty.session.user_id}Я{else}{$purse_one.first_name}{/if}. Движение по кошельку. Пополнение: <span class='text-green'>{$purse_one.debet} {$purse_one.symbol}</span>  Расходы: <span class='text-red'>{$purse_one.credit} {$purse_one.symbol}</span>
    </div>
   <div class="panel-body">  
       <form action="#" method="get" id='filter'>
        {if isset($smarty.get.p)} <input type='hidden' name='p' value='{$smarty.get.p}'> {/if}
        {if isset($smarty.get.type)} <input type='hidden' name='type' value='{$smarty.get.type}'> {/if}
        {if isset($smarty.get.id_category)} <input type='hidden' name='id_category' value='{$smarty.get.id_category}'> {/if}
        {if isset($smarty.get.limit)} <input type='hidden' name='limit' value='{$smarty.get.limit}'> {/if}        
        {if isset($smarty.get.page)} <input type='hidden' name='page' value='{$smarty.get.page}'> {/if}  
        
          {*if isset($smarty.get.c)} <input type='hidden' name='c' value='{$smarty.get.c}'> {/if}
          {if isset($smarty.get.id_purse)} <input type='hidden' name='id_purse' value='{$smarty.get.id_purse}'> {/if*}
          <div class="row">
            <div class="form-group col-md-6 col-xs-12">
              <div class='input-group'>
                <span class="input-group-addon">
                  Начало
                </span>
                <input type='text' name='filter_date_from' value='{if isset($smarty.get.filter_date_from)}{$smarty.get.filter_date_from}{else}{/if}' class="form-control date datetimepicker" placeholder="Выберите дату начала" />
              </div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
              <div class='input-group'>
                <span class="input-group-addon">
                  Конец
                </span>
                <input type='text' name='filter_date_to' value='{if isset($smarty.get.filter_date_to)}{$smarty.get.filter_date_to}{else}{/if}' class="form-control date datetimepicker" placeholder="Выберите дату конца" />
              </div>
            </div>

            <div class="form-group col-md-6 col-xs-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                <select type="text" name="id_purse" class='form-control' id="id_purse" data-native-menu="false" data-mini="true">
                    <option>Выберите кошелёк</option>
                    {foreach from=$purse_all item=row}
                    <option value="{$row.id}" {if $row.id==$smarty.get.c || $row.id==$smarty.get.id_purse}selected='selected'{/if}>{if $row.vis==2}[Скрыт]{/if} {$row.title}</option>
                    {/foreach}
                </select>
              </div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
              <button type="submit" name='go' class="btn bg-success pull-right"><i class="fa fa-search"></i> Применить фильтр</button>
            </div>
          </div>
        </form>
  </div>
</div>
</div>
