<div class="container">

    <div class="col-md-8 m-t-20">
        <div class="panel panel-default">
            <div class="panel-heading font-header">Планирование бюджета 
                <div class="btn-group pull-right" role="group" aria-label="First group">
                  <button type="button" class="btn btn-default btn-icon tooltip-primary click-save-plan" title="Сохранить"><i class="fa fa-floppy-o"></i></button>
                  <a href="/?p=plan&reset" class="btn btn-default btn-icon tooltip-primary" title="Сбросить все записи"><i class="fa fa-trash"></i></a>
                </div>
            </div>
                
            <div class="panel-body">  
                
<table class='table table-bordered table-gray'>
<thead>    
    <tr>
        <th>Наименование</th>
        <th>Расход</th>
        <th>Доход</th>
       
        <th> <div class='btn btn-gray btn-xs pull-right newMonth'><span class='fa fa-plus'></span> Добавить месяц</div></th>
    </tr>
</thead>   
{$month=$bill.0.month}
{foreach from=$bill item=row name=foo}
{if $month!=$row.month && !$smarty.foreach.foo.first}
        <tr class='month-bill-end'>
            <td>Остаток на конец месяца:</td><td colspan="4"></td>
        </tr>
</tbody>
{/if}
{if $month!=$row.month || $smarty.foreach.foo.first}
<tbody class='month'>
    <tr class='month-info' data-month={$row.month} data-year={$row.year}>
        <th colspan=5>{$row.month}.{$row.year}</th>
    </tr>{$month=$row.month}
{/if}



    <tr class='month-bill'>
        <td  data-name='title' data-click=0>{$row.title}</td>
        <td data-name='credit' data-click=0 class='text-danger'>{if $row.credit!=0}{if $row.credit>0}-{/if}{$row.credit}{/if}</td>
        <td data-name='debet' data-click=0 class='text-success'>{if $row.debet!=0}+{$row.debet}{/if}</td>
        <td> 
            <div class="btn-group pull-right" role="group">
                  <button type="button" class="btn btn-default btn-icon tooltip-primary newRecord" title="Новая строка"><span class='fa fa-plus'></span></button>
                  <button type="button" class="btn btn-default btn-icon tooltip-primary click-delete-record" title="Удалить запись"><i class="fa fa-times"></i></button>
            </div>
        </td>
    </tr>
{if $month!=$row.month || $smarty.foreach.foo.last}
        <tr class='month-bill-end'>
            <td>Остаток на конец месяца:</td><td colspan="4"></td>
        </tr>
</tbody>
{/if}
{if $month!=$row.month}  {/if}
 {/foreach}
 
 
{*<!--<tbody class='month'>
    <tr class='month-info' data-month=2 data-year=2015>
        <th colspan=5>Март 2016</th>
    </tr>
    {foreach from=$bill item=row}
    <tr class='month-bill'>
        <td  data-name='title' data-click=0>{$row.title}</td>
        <td data-name='credit' data-click=0 class='text-danger'>{if $row.credit!=0}{if $row.credit>0}-{/if}{$row.credit}{/if}</td>
        <td data-name='debet' data-click=0 class='text-success'>{if $row.debet!=0}+{$row.debet}{/if}</td>
        <td><span class='fa fa-plus newRecord'></span></td>
    </tr>
    {/foreach}
        <tr class='month-bill-end'>
            <td>Остаток на конец месяца:</td><td colspan="4"></td>
        </tr>
</tbody>-->*}
<tfoot>
    <tr><td><strong>Остаток:</strong></td><td colspan=3 class='all-the-rest'></td></tr>
</tfoot>
</table>           
                            
        </div> 
    </div>
    </div>
</div>
