<div class="container">
    {include file="panel_filter.html"}
<div class="col-lg-12 m-t-20">
  <div class="panel panel-default">
    <div class="panel-heading font-header">  Владелец: {if $purse_one.id_user==$smarty.session.user_id}Я{else}{$purse_one.first_name}{/if}. Движение по кошельку. Доходы: <span class='text-green'>{$purse_one.debet} {$purse_one.symbol}</span>  Расходы: <span class='text-danger'>{$purse_one.credit} {$purse_one.symbol}</span>
    </div>
    <div class="panel-body">  
        <table class="table table-hover font-12">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Сумма</th>
                    <th>Название</th>
                    <th class='tour_cat'>Категория</th>
            {if !$smarty.get.c}<th>Кошелёк</th>{/if}
                </tr>
            </thead>
            <tbody>
 {assign var='datelast' value='0'}
{if $bill_all|count==0}
                <tr>
                    <td colspan='5'>Записей нет</td>
                </tr>
{else}
{foreach from=$bill_all item=row}
                <tr  class="{if ($row.credit==0)}ui-bar-a{else}ui-bar-a{/if}" style='position: relative; z-index: 1'>

                    <td width=50>
                        {if $datelast!==$row.start_date}
                            {assign var='datelast' value=$row.start_date}
                            {$row.start_date|date_format:"%d.%m.%Y"}
                        {else} 
                        {/if}
                    </td>
                    <td style='text-align:right;width:50px' class=" {if $row.status==1}{if ($row.credit==0)}bg-success{else}bg-danger{/if}{else}bg-grey{/if}">
                        {if ($row.credit==0)}{$row.value_debet|number_format:"2":".":"&nbsp;"}{$row.symbol}{/if}
                        {if ($row.credit==1)}-{$row.value_credit|number_format:"2":".":"&nbsp;" }{$row.symbol}{/if}
                    </td>
                    <td>
                        <a href="/?p=bill_edit&c={$row.id}" data-ajax=false>{if $row.title==''}Без названия{else}{$row.title}{/if}</a>
                    </td>
                    {assign var='first_index' value='0'}
                    <td width=200 class='bill_category' data-bill='{$row.id}'>
                        {assign var='first_index' value='0'}
                        <span> <a href='#' class='record_tags'><i class="fa  fa-tags"></i></a>
                            {foreach from=$category_user_all item=rows name=foo}
                                {if $row.id==$rows.id_bill}

                                    <a href='/?p=statistics&type=category&id_category={$rows.id}' class="text-aqua btn-xs" title='ss'>{$rows.title}</a>,
                                {/if}
                            {/foreach}
                        </span>
                    </td>
{if !$smarty.get.c}
      <td style=' overflow: hidden; white-space: nowrap;'><a href='/?p=purse_view&c={$row.purse_id}'>{if empty($row.purse_title)}Кошелёк №{$row.id_purse}{else}{$row.purse_title}{/if}</a></td>{/if}
     </tr>
{/foreach}
{/if}

  </tbody>
</table>
    </div> 
    <div class="panel-footer">
      <div class="row font-12 text-center-xs">
        <div class="col-sm-4">
          <div class="m-t-10 m-u-2">Показано 10 из {$records_count}</div>
        </div><!-- /.col -->
        <div class="col-sm-8 m-t-15-xs">
          <nav>
            <ul class="pagination pagination-split no-m pull-right no-pull-xs">
              <li {if $page<2}class="disabled"{/if}>
                <a href="/?{$get}&page={$page_left}" aria-label="Previous">
                  <span class="hidden-xs" aria-hidden="true">Назад</span>
                  <span class="visible-xs" aria-hidden="true">«</span>
                </a>
              </li>
              {for $i=1 to $page_count}
                {if ($i>=$page-2) && ($i<=$page+2)}<li {if $i==$page}class="active"{/if}><a href="/?{$get}&page={$i}">{$i}</a></li>{/if}
              {/for}
              <li {if $page==$page_count}class="disabled"{/if}>
                <a href="/?{$get}&page={$page_right}" aria-label="Next">
                  <span class="hidden-xs" aria-hidden="true">Вперед</span>
                  <span class="visible-xs" aria-hidden="true">»</span>
                </a>
              </li>
            </ul>
          </nav>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div>
</div>
</div>
</div>

<div class="modal modal-flip-vertical fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Изменить категории платежа</h4>
            </div>
        <div class="modal-body">
            <form action='#' method="post" class="form-horizontal font-12" id='fast_record'>      
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Список категорий</label>
                    <div class="col-sm-9">                 
                    {foreach from=$category_list item=rows}
                        <div class='col-md-4 col-xs-6'>
                            <div class="custom-checkbox font-12">
                                <input type="checkbox"  name="category-{$rows.id}"  value='{$rows.id}'  id="checkbox-{$rows.id}" {if $rows.selected=='1'}checked='checked'{/if} class='set_category'>
                                <label for="checkbox-{$rows.id}">{$rows.title}</label>
                            </div>
                        </div>
                    {/foreach}
                    </div>
                </div> 
            </form>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-gray" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
</div>