<div class="container">

<div class="col-lg-12 m-t-20">
    <div class="panel panel-default">
        <div class="panel-heading font-header">Список кошельков</div>
        <div class="panel-body">  
            <table class="table table-striped  table-hover">
            <tr>
                <th>Кошелек</th>
                <th>Остаток</th>
                <th>Приход</th>
                <th>Расход</th>
                <th>Владелец</th>
              {*  <th>Доступ</th>
                <th>Инфо</th>*}
            </tr>
    {assign var='datelast' value='0'}
    {if $mypurse|count==0}  
    <tr> <td colspan='4'>Записей нет</td>  </tr>
    {else}
    {foreach from=$mypurse item=row}
        <tr>
            <td>
                <a href='/?p=purse_edit&c={$row.id}'>{$row.title}</a> 
                <span class='pull-right tooltip-primary'   title="Не отображается в списках" >
                    <label class="switch-toggle switch-md"> 
                        <span class='fa fa-spinner fa-spin loading'></span>
                        <input type="checkbox" {if $row.vis==2}{else}checked="checked"{/if} class='visible' data-id_purse='{$row.id}'>
                        <span></span>
                    </label>
                </span> 
            </td>
            <td>
                <a href='/?p=purse_view&id_purse={$row.id}'>{($row.debet-$row.credit)|number_format:"2":".":"&nbsp;"} {$row.symbol}</a>
            </td>
            <td class='bg-success text-right'>
                {(0+$row.debet)|number_format:"2":".":"&nbsp;"}&nbsp;{$row.symbol}
            </td>
            <td class='bg-danger text-right '>
                {(0+$row.credit)|number_format:"2":".":"&nbsp;"}&nbsp;{$row.symbol}</td>
            <td>{$row.first_name}</td>
 {*           <td></td>
            <td></td>*}
         </tr>
    {/foreach}
    {/if}
            </table>
    </div> 
</div>
</div>
</div>
{*
<section class="content hidden">
<div class="row tour_filter">
  <div class='col-md-12'>
    <div class="box box-primary">
      <div class="box-header">
        <div class="pull-right box-tools">
<!--      <button class="btn btn-danger btn-sm refresh-btn" data-toggle="tooltip" title="Reload"><i class="fa fa-refresh"></i></button>
          <button class="btn btn-primary btn-sm collapse_btn" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-minus fa-plus"></i></button> -->
          <button class="btn btn-primary btn-sm category_option" data-toggle="tooltip" title="Collapse"><i class="fa fa-thumb-tack fa-arrows"></i></button>
<!--      <button class="btn btn-danger btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>  -->
        </div>
          <h3 class="box-title">
            Список кошельков
          </h3>
      </div>
      <div class="box-body collapse_category">
        <div class='row'>
          <div class='col-lg-12'>
           <table class="table table-striped  table-hover">
          <tr>
            <th>Кошелек</th>
            <th>Остаток</th>
            <th>Приход</th>
            <th>Расход</th>
            <th>Автор</th>
            <th>Доступ</th>
            <th>Инфо</th>
          </tr>
     {assign var='datelast' value='0'}
    {if $mypurse|count==0}  <tr> <td colspan='4'>Записей нет</td>  </tr>
    {else}
    {foreach from=$mypurse item=row}
        <tr>
            <td>
                <a href='/?p=purse_edit&c={$row.id}'>{$row.title}</a> 
                {if $row.vis==2}

                <span class='pull-right'  data-placement="top" data-toggle="tooltip" title="Не отображается в списках" >[Скрыт]</span>{/if}
            </td>
            <td><a href='/?p=purse_view&id_purse={$row.id}'>{$row.debet-$row.credit} {$row.symbol}</a></td>
           <td style='text-align:right;width:50px' >
           <span class="badge bg-green">
        {0+$row.debet} {$row.symbol}
   </span></td>
<td style='text-align:right;width:50px' >
           <span class="badge bg-red">
         {0+$row.credit} {$row.symbol}</span></td>
           <td>{$row.first_name}</td>
           <td></td>
           <td></td>


         </tr>
    {/foreach}
    {/if}
            </table>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
*}