<div class="container">
    <div class="panel panel-default m-t-20">
        <div class="panel-heading font-header">Новый кошелёк</div>
        <form action='#' method="post" class="form-horizontal font-12">
        <div class="panel-body">  
            <div class="form-group">
                <label for="" class="col-sm-3 control-label">Название кошелька</label>
                <div class="col-sm-9">
                    <input type="text" name='title' class="form-control" placeholder="Например: Оплата телефона" data-toggle="tooltip" data-placement="right" title='Совет: указывайте более подробно. В дальнейшем у вас не будет вопросов откуда взялся платёж' value='{$row.title}'>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-sm-3 control-label">Описание</label>
                <div class="col-sm-9">
                <textarea class="form-control" name='descr' rows="3" placeholder="Описание: Альфабанк. Срок годности до 2016" data-toggle="tooltip" data-placement="bottom" title='Совет: указывайте более подробно. В дальнейшем у вас не будет вопросов что это за кошелёк'>{$row.descr}</textarea>
                </div>
            </div>
            
                     
            <div class="form-group hidden">
                <label for="" class="col-sm-3 control-label">Сумма</label>
                <div class="col-sm-5">
                   <input type="text" name='value_start' class="form-control" value="{$row.value}" placeholder="0.00" data-toggle="tooltip" data-placement="bottom" title='{if isset($smarty.get.c) || isset($smarty.get.id_purse)}Чтобы сбросить сумму, впишите необходимое значение{else}{/if}'>
                </div>

            </div>           
            <div class="form-group">
                <label for="" class="col-sm-3 control-label">Валюта кошелька</label>
                <div class="col-sm-5">
                    <select type="text" name="currency" id="currency" placeholder="Currency" class="form-control">
                      {$select_currency}
                    </select>
                </div>
                <div class="col-sm-4 text-right" title='Если кошелёк вам не нужен, скройте его. Удалить можно всегда.'>
                    <label class='control-label'>Не показывать/Показывать</label>
                    <label class="switch-toggle switch-lg m-l-5 text-right">
                        <input type="checkbox"  name="status"  {if isset($smarty.get.c)}{if $row.vis=='1'}checked{else}{/if}{else}checked{/if} data-radio-all-off="true" class="switch-radio2" >
                        <span></span>
                    </label>
                </div>
            </div>   
            
         
      
    </div>
        <div class="panel-heading font-header">
            {if isset($smarty.get.c)}
            <button type="submit" name='go_s' class="btn btn-success btn-flat"><i class="fa fa-check"></i> Сохранить</button>
            <button type="submit" name='go_d' class="btn btn-danger btn-flat"><i class="fa fa-ban"></i> Удалить</button>
        {else}
            <button type="submit" name='go_c' class="btn btn-success btn-flat"><i class="fa fa-check"></i> Создать</button>
        {/if}
        </div>
    </form>
  </div>

</div>