<div class="container">
     {include file="panel_filter.html"}
{if isset($smarty.get.type)}   
    <div class='row m-t-20'>
        <div class="col-lg-12">
            {if ($category_all|count>0)}
            {foreach from=$category_all item=row}
            <a href='?p=statistics&type=category{if isset($smarty.get.filter_date_from)}&filter_date_from={$smarty.get.filter_date_from}{/if}{if isset($smarty.get.filter_date_to)}&filter_date_to={$smarty.get.filter_date_to}{/if}{if isset($smarty.get.id_purse)}&id_purse={$smarty.get.id_purse}{/if}&id_category={$row.id}' class='btn {if $smarty.get.id_category==$row.id}btn-primary{else}btn-default{/if}'>{$row.title} <span class='badge bg-danger'>{$row.credits}</span></a>
            {/foreach}
            {else}
<div class="alert alert-success" role="alert">Нет трат или пополнений по категориям за выбранный период</div>  
            {/if}
        </div>
    </div> 
{/if}
    <div class='row m-t-20'>
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row font-12">
                        <div class="col-xs-9">
                            <span class="text-upper font-header">Доход и расходы</span>                      
                        </div>
                  </div>
                  <div class=" line-placeholder m-t-10" id='graph'></div>
                </div>
                <div class="panel-footer bg-white">
                  <div class="row text-center">
                    <div class="col-xs-6">
                      <h4 class="no-m text-dark m-t-5 font-header">{$max_debet}</h4>
                      <div class="font-12 m-t-5 m-b-5">Максимальные доходы</div>
                    </div>
                    <div class="col-xs-6">
                      <h4 class="no-m text-dark m-t-5 font-header">{$max_credit}</h4>
                      <div class="font-12 m-t-5 m-b-5">Максимальные расходы</div>
                    </div>
                    {*
                    <div class="col-xs-4">
                      <h4 class="no-m text-dark m-t-5 font-header">1,879</h4>
                      <div class="font-12 m-t-5 m-b-5">Экономия</div>
                    </div>
                    *}
                  </div>
                </div>
                <div class="loading-wrap">
                  <div class="loading-dots">
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                  </div>
                </div>
              </div>
            </div>
    </div>
{*    <div class='row m-t-20'>
        <div class="col-sm-6 ">
            <div class="panel">
                <div class="panel-body p-20">
                    <div class="text-dark h4 no-m font-header">3,189</div>
                    <div class="font-12">Total New Member</div>
                    <div class="sparkbar m-t-5"><canvas width="109" height="16" style="display: inline-block; width: 109px; height: 16px; vertical-align: top;"></canvas></div>
                </div>
            </div>
        </div>
    </div> *}
</div>