<link href="/css/iCheck/all.css" rel="stylesheet" type="text/css" />
<script src="/js/plugins/moment/moment.min.js" type="text/javascript"></script>
<script>
$(function(){
    $("[name='status']").bootstrapSwitch.defaults.onText='Показывать';
    $("[name='status']").bootstrapSwitch.defaults.offText='Скрыть';
    $("[name='status']").bootstrapSwitch();
    });
</script>


<section class="content">
<div class="row">
    <!-- left column -->
    <div class="col-md-11">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{if isset($smarty.get.c)}Изменение кошелька{else}Новый кошелёк{/if}</h3>
            </div><!-- /.box-header -->


                <div class="box-body">
                {include file='include/panel_alert.html'}


            </div>

                <div class="box-footer ">
                    {include file='include/panel_button_NewSaveDel.html'}
                </div>

        </div><!-- /.box -->




    </div>
</div>
</section>                             