<link href="/css/iCheck/all.css" rel="stylesheet" type="text/css" />
<link href="/js/plugins/bootstrap-colorpalette-master/css/bootstrap-colorpalette.css" rel="stylesheet" type="text/css" />
<script src="/js/plugins/bootstrap-colorpalette-master/js/bootstrap-colorpalette.js" type="text/javascript"></script>
<script>
$(function(){
    $("#colorpalette1").colorPalette().on('selectColor', function(e) {
        $("#btn-color").css('background-color',e.color);
        $("[name='color']").val(e.color);
    });



    $('#category-form').on('shown.bs.modal', function (e) {


})

});
</script>
</script>

<!-- COMPOSE MESSAGE MODAL -->
<div class="modal fade" id="category-form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-envelope-o"></i> Редактирование категорий</h4>
            </div>
            <form action="/?p=category" method="post">
            <input name="id_category" type="hidden" value='{$category_one.id}'>
                <div class="modal-body">
                    {include file='include/panel_alert.html'}
                    <div class="form-group">

                            <input name="title" type="text" class="form-control" placeholder="Название категории" value='{$category_one.title}'>

                    </div>


                    <div class="form-group">
                        <textarea name="descr" id="email_message" class="form-control" placeholder="Добавьте дополнительное описание" style="height: 60px;">{$category_one.descr}</textarea>
                    </div>

                    <div class='row'>
                    <div class="form-group col-lg-4 col-xs-4">
                        <div class="input-group">
                            <input name='color' type='hidden' value='{$category_one.color}'>

                            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" id='btn-color' style="background-color:{$category_one.color}">Выберите цвет категории</a>
                            <ul class="dropdown-menu">
                                <li><div id="colorpalette1"></div></li>
                            </ul>


                        </div>

                    </div>
                    <div class="form-group col-lg-6 col-xs-6">
                        <select class="form-control" name='status'>
                            <option  {if isset($smarty.get.c)}{if $category_one.vis=='1'}selected='selected'{else}{/if}{else}selected='selected'{/if} value='1'>Показывать в общем списке</option>
                            <option  {if isset($smarty.get.c) && $category_one.vis=='0'}selected='selected'{/if} value='2'>Скрыть</option>
                        </select>
                    </div>

                    </div>

                </div>
                <div class="modal-footer clearfix">


                   {include file='include/panel_button_NewSaveDelCancel.html'}
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->