<link href="/css/iCheck/all.css" rel="stylesheet" type="text/css" />
<script src="/js/plugins/moment/moment.min.js" type="text/javascript"></script>
<script>
$(function(){
//<![CDATA[
 {if isset($smarty.get.edit)}
 $("#category-form").modal('show');
 //$('#category-form').on('shown.bs.modal', function (e) { alert('b'); });
 {/if}
 //]]>
    });
</script>


<section class="content">


<div class="row">
    <!-- left column -->
    <div class="col-md-11">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">


            </div><!-- /.box-header -->


                <div class="box-body">

                 <div class='row'>
                 <div class='col-lg-5'>
                {include file='include/panel_alert.html'}
                </div>

                 </div>
                <div class='row'>
                    <div class='col-lg-10'>
                  
                    {foreach from=$category_all item=row}
              <div class="col-sm-6 col-lg-3">
              <div class="panel">
                <div class="panel-body">
                  <div class="user-wrapper img-lg">
                    <div class="profile-pic">
                      <i class='fa {$row.icon}'></i>
                    </div>
                    <div class="p-t-10">
                      <div class="pull-right m-t-5 m-d-2">
                        <span class="text-muted pointer m-r-5 text-hover"><i class="icon-eye-plus m-d-1"></i></span>
                        <span class="text-muted pointer text-hover"><i class="icon-bin"></i></span>
                      </div>
                      <div class="font-12 text-dark">{$row.title}</div>
                      <div class="font-10">{$row.descr}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                    {/foreach}
 {*      <table class="table table-striped  table-hover">
                    <tr>

                        <th>Категория</th>
                        <th>Описание</th>
                        <th>Цвет</th>
                        <th>Иконка</th>
                        <th width=40>Кол-во записей</th>
                        <th width=40>Статус</th>

                    </tr>
 <tr  class="{if ($row.credit==0)}ui-bar-a{else}ui-bar-a{/if}">
                        <td><a href="/?p=category&edit&c={$row.id}" data-ajax=false >{$row.title}</a></td>
                        <td><a href="/?p=category&edit&c={$row.id}" data-ajax=false >{$row.descr}</a></td>
                        <td> <span class="badge" style="background-color:{$row.color}">&nbsp;</span> </td>
                        <td><i class='fa {$row.icon}'></i></td>
                        <td>{$row.counts}</td>
                        <td>{$row.category_status}</td>
                    </tr>  </table> *}
              
                    </div>

                    <div class='col-lg-5'>
                    <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#category-form"><i class="fa fa-pencil"></i> Добавить новую категорию</a>
                    </div>
                </div>
                </div>

                <div class="box-footer ">

                </div>

        </div><!-- /.box -->




    </div>
</div>
</section>

{include file='category_edit.html'}