<script>
$(function(){


//<![CDATA[
 {if isset($smarty.get.purse_edit)}
    var params='c={$smarty.get.c}';

     $.ajax({
     type: "POST",
     dataType: 'script',
     timeout: 7000,
     url: '/ajax.php',
     data:params,
      complete: function(){  }

     });
   /* Нужно сделать чтобы форма грузилась и отправлялась без перезагрузки */
 $("#purse-form").modal('show'); {/if}
 //]]>



});

var tour = new Tour({
  steps: [
  {
    element: ".tour_last",
    title: "Панель статистики",
    content: "Здесь отображается последний вход и последняя запись. Это поможет вспомнить до какой даты вы заполнили свои траты",
     backdrop: true,
     placement:"bottom",
  },
  {
    element: ".tour_purse",
    title: "Ваши кошельки",
    content: "Быстрый доступ к вашим кошелькам. Здесь виден баланс. Вы можете перейти к кошельку нажав \"Открыть\" или изменить свойства кошелька нажав \"Редактировать\"",
     backdrop: true,
     placement:"bottom",
  },
  {
    element: ".tour_purse_add",
    title: "Добавить кошелёк",
    content: "Если вы храните деньги в нескольких местах, рекомендуем создать кошельки и назвать соответсвенно. Например: \"Карта сбербанка\", \"Карта пенсии бабушки\"",
     backdrop: true,
     placement:"bottom",
  },
  {
    element: ".tour_filter",
    title: "Фильтр для точного отображения",
    content: "Выберайте период просмотра платежей, по умолчанию показывается текущий месяц. Если у вас один кошёлек, выбирать его не требуется",
     backdrop: true,
     placement:"bottom",
  },
]}).init();


</script>
        <!-- Временно пока тут, потом надо будет убрать -->
<section class="content">

    <!-- Small boxes (Stat box) -->
    <div class='row'>
    <div class='col-lg-12'>
    {include file='plugin_index_main/plugin_1.html'}

    {include file='include/panel_search.html'}
    {include file='plugin_index_main/plugin_2.html'}
    </div>

    <!-- top row -->

    <!-- /.row -->

    </div>

</section>

        <!-- COMPOSE MESSAGE MODAL -->
        <div class="modal fade" id="purse-form" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-envelope-o"></i> Compose New Message</h4>
                    </div>
<form role="form" action='#' method="post">
                {if isset($smarty.get.c)} <input type='hidden' name='id_purse' value='<?=$row.id?>'>
                <input type="hidden" name="value" id="value">
                {/if}
                <div class="modal-body">
                {include file='include/panel_alert.html'}
                <div class="row">
                <input type='hidden' name='p' value='bill_edit'>
                    <div class="form-group col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                            <input type="text" name='title' class="form-control" placeholder="Название кошелька: Вторая карта" data-placement="right" value='{$row.title}'>
                        </div>

                    </div>
                 </div>
                <div class="row">

                    <div class="form-group col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                            <textarea class="form-control" rows="3" placeholder="Описание: Альфабанк. Срок годности до 2016" data-toggle="tooltip" title='Совет: указывайте более подробно. В дальнейшем у вас не будет вопросов что это за кошелёк'></textarea>
                        </div>

                    </div>
                 </div>
                 <div class="row">
                    <div class="form-group col-md-6 col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-rub"></i></span>
                            <input type="text" name='value' class="form-control" value="{$row.value}" placeholder="0.00" data-toggle="tooltip" data-placement="right" title='Не заполнять'>
                        </div>

                    </div>


                    <div class="form-group col-md-6 col-xs-6">

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                           <select type="text" name="currency" id="currency" placeholder="Currency" class="form-control">
                                      {$select_currency}
                                      </select>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 col-xs-12">
                        <input type="radio"  name="status"  {if isset($smarty.get.c)}{if $row.vis=='1'}checked{else}{/if}{else}checked{/if} data-radio-all-off="true" class="switch-radio2"  title='Если кошелёк вам не нужен, скройте его. Удалить можно всегда.'>

                    </div>

                 </div>

            </div>

                <div class="modal-footer clearfix ">
                    {*include file='include/panel_button_NewSaveDel.html'*}

                   <button type="submit" name='go_s' class="btn btn-primary pull-left"><i class="fa fa-envelope"></i> Send Message</button>
                   <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>   </div>
            </form>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->