<aside class="left-side sidebar-offcanvas">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left info  tour_last">
        <p>Статистика</p>

        <a href="#">Последний вход:  {$smarty.session.user_last_date|date_format:"%d.%m.%Y"}</a>  <br>
        <a href="#">Последняя транзакция: {if !empty($smarty.session.user_last_record)}{$smarty.session.user_last_record}{else}Еще не было записей!{/if}</a>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="active">
        <a href="/">
          <i class="fa fa-dashboard"></i> <span>Рабочий стол</span>
        </a>
      </li>
      <li  class="treeview">
        <a href="#">
          <i class="fa fa-money"></i> <span>Мои платежи</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/?p=bill_edit">
              <i class="fa fa-plus-square-o"></i><span>Добавить платеж</span>
            </a>
          </li>
          <li >
            <a href="/?p=bill_edit&between">
              <i class="fa fa-retweet"></i><span>Добавить платеж между кошельками</span>
            </a>
          </li>
          <li >
            <a href="/?p=purse_view">
              <i class="fa fa-eye"></i> <span>Посмотреть все платежи</span>
            </a>
          </li>
        </ul>
      </li>
      <li  class="treeview">
        <a href="#">
          <i class="fa fa-credit-card"></i> <span>Мои кошельки</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class='tour_purse_add'>
            <a href="/?p=purse_edit">
              <i class="fa fa-plus-square-o"></i> <span>Создать кошелёк</span>
            </a>
          </li>
          <li class='tour_purse_add'>
            <a href="/?p=purse_list">
              <i class="fa fa-list-alt"></i> <span>Список кошельков</span>
            </a>
          </li>
        </ul>
      </li>
      <li  class="treeview">
        <a href="#">
          <i class="fa fa-tags"></i> <span>Мои категории</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/?p=category&edit"><i class="fa fa-angle-double-right"></i> Добавить категорию</a></li>
          <li><a href="/?p=category"><i class="fa fa-angle-double-right"></i> Список категорий</a></li>

        </ul>
      </li>

      <li >
        <a href="/?p=statistics">
          <i class="fa fa-bar-chart-o"></i> <span>Статистика</span>
        </a>
      </li>
      <li >
        <a href="/?exit">
          <i class="fa fa-power-off"></i> <span>Выход</span>
        </a>
      </li>
    </ul>
  </section>
</aside>