<link href="/css/iCheck/all.css" rel="stylesheet" type="text/css" />
<script>
$(function(){
  $("[name='status']").bootstrapSwitch.defaults.onText='Показывать';
  $("[name='status']").bootstrapSwitch.defaults.offText='Скрыть';
  $("[name='status']").bootstrapSwitch();

  $(".reset_amount").click(function(){
    $(".reset_amount_block").hide();
    $("[name='reset_amount']").val('1');
    $(".amount").show();
    return false;
  });
//<![CDATA[
  {if isset($smarty.get.c)|| isset($smarty.get.id_purse)}$('.amount').hide();{else}$(".reset_amount_block").hide();{/if}
//]]>
});
</script>


<section class="content">
<div class="row">
  <div class="col-md-11">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">{if isset($smarty.get.c)}Изменение кошелька{else}Новый кошелёк{/if}</h3>
      </div>
      <form role="form" action='#' method="post">
        {if isset($smarty.get.c)} <input type='hidden' name='id_purse' value='<?=$row.id?>'>
        <input type="hidden" name="value" id="value">
        {/if}
        <div class="box-body">
          {include file='include/panel_alert.html'}
          <div class="row">
            <input type='hidden' name='p' value='bill_edit'>
            <div class="form-group col-md-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                <input type="text" name='title' class="form-control" placeholder="Название кошелька: Вторая карта" data-placement="bottom" value='{$row.title}'>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                <textarea class="form-control" name='descr' rows="3" placeholder="Описание: Альфабанк. Срок годности до 2016" data-toggle="tooltip" data-placement="bottom" title='Совет: указывайте более подробно. В дальнейшем у вас не будет вопросов что это за кошелёк'></textarea>
              </div>
            </div>
          </div>
          <div class="row">




            <div class="form-group col-md-6 col-xs-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                <select type="text" name="currency" id="currency" placeholder="Currency" class="form-control">
                  {$select_currency}
                </select>
              </div>
            </div>
            <div class="form-group col-md-6 col-xs-6 amount">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-rub"></i></span>
                <input type="text" name='value_start' class="form-control" value="{$row.value}" placeholder="0.00" data-toggle="tooltip" data-placement="bottom" title='{if isset($smarty.get.c) || isset($smarty.get.id_purse)}Чтобы сбросить сумму, впишите необходимое значение{else}{/if}'>
              </div>
            </div>
            <div class="form-group col-md-6 col-xs-6 reset_amount_block" >
              <div class="input-group">
                <button class='btn bg-grey reset_amount'>Сбросить сумму</button>
                <input type='hidden' name='reset_amount' value='0'>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="form-group col-md-12 col-xs-12">
                  <input type="radio"  name="status"  {if isset($smarty.get.c)}{if $row.vis=='1'}checked{else}{/if}{else}checked{/if} data-radio-all-off="true" class="switch-radio2"  title='Если кошелёк вам не нужен, скройте его. Удалить можно всегда.'>
              </div>
           </div>
        </div>
        <div class="box-footer ">
          {include file='include/panel_button_NewSaveDel.html'}
        </div>
      </form>
    </div>
  </div>
</div>
</section>