     <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css">
        <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
        <script type="text/javascript" src="js/bootstrap-multiselect-collapsible-groups.js"></script>
<style>
.hover{
border:1px solid #000;
}
.item_category{
 padding: 5px; height: 50px; font-size:11px;position: relative; z-index: 1;  text-align: center; cursor: move;
}
.item_category .title{ overflow: hidden; white-space: nowrap; display: block;  color: rgba(255,255,255,0.8);}
</style>
<script>

var tour = new Tour({
  steps: [
  {
    element: ".tour_name_section",
    title: "Страница платежей",
    content: "Здесь вы можете просматривать свои транзакции. Просматривать можно как по отдельности по кошелькам, так и все вместе",
     backdrop: true,
     placement:"bottom",
  },
  {
    element: ".tour_filter",
    title: "Фильтр для точного отображения",
    content: "Выберайте период просмотра платежей, по умолчанию показывается текущий месяц",
     backdrop: true,
     placement:"bottom",
  },
  {
    element: ".tour_cat_list",
    title: "Категории",
    content: "Если вы не указали категорию при создании платежа, то укажите сейчас. Потащите мышкой за любую категорию...",
     backdrop: true,
     placement:"top",
     duration: 5000
  },
  {
    element: ".tour_cat",
    title: "Категории",
    content: "... до колонки \"Категория\". Отпустие мышку, категория будет тут же применена и отобразится в колонке",
     backdrop: true,
     placement:"bottom",
  },
]}).init();


$(function(){
  var bill=0;
  var cat=0;
  var params='';
  $(".category").multiselect();



  $( ".item_category" ).draggable({ revert: true,
  start: function() {
   cat=$(this).attr('data-category');
 /*   $(this).css({ 'position':'absolute','left':'0px',}); */

  },
  stop: function(){

  }

  });
  //$( "#draggable2" ).draggable({ revert: "invalid" });
  function setCategoryBill(place) // устанавливаем категорию для платежа
  {
    //console.log(place+' '+ bill_id+' '+ cat_id);

    $.ajax({
    type: "POST",
    dataType: 'html',
    context: document.body,
    timeout: 7000,
    url: '/ajax.php',
    data:params,
    success: function(data){
      $(place).html(data);

      },
    complete: function(data){

      }
    });
  }
  $( ".bill_category" ).droppable({
    //activeClass: "ui-state-default",
    hoverClass: "hover",
      drop: function( event, ui ) {
      bill=$(this).attr('data-bill');

      params="object=MyPurse&action=set_category_bill_ajax&bill_id="+bill+"&cat_id="+cat+"&vis=1";
      setCategoryBill(this);
    }
  });
  $(".category_del").live('click',function(){
      bill=$(this).data('bill');
      cat=$(this).data('category');

      params="object=MyPurse&action=set_category_bill_ajax&bill_id="+bill+"&cat_id="+cat+"&vis=0";
      console.log(params);
      setCategoryBill($(this).parent());
    //alert($(this).data('category'));


  });

$(window).scroll(function() {
  var top = $(document).scrollTop();

    if (top >= 310 ) if ($(".category_list").css('position')=='relative') { $(".category_list").css({ position: 'fixed', left:'0px', top:'0px', zIndex:'10'}); console.log('сменили '+top);    }

    if (top < 310) $(".category_list").css({ position: 'relative' , zIndex:''});

    console.log('Передаем параметр '+top);
  });

});
</script>
<section class="content">
<div class="row">
  <div class="col-md-12">
    {include file='include/panel_search.html'}
<div class="box">
           {if isset($smarty.get.c) || isset($smarty.get.id_purse)}
  <div class="box-header" style='padding:0px 5px;'>
    <h4 >Владелец: {if $purse_one.id_user==$smarty.session.user_id}Я{else}{$purse_one.first_name}{/if}. Движение по кошельку. Пополнение: <span class='text-green'>{$purse_one.debet} {$purse_one.symbol}</span>  Расходы: <span class='text-red'>{$purse_one.credit} {$purse_one.symbol}</span></h4>

  </div><!-- /.box-header -->
            {/if}
<div class="box-body table-responsive no-padding">
<div class='row'>

  <div class='col-lg-12 category_list tour_cat_list' style=' background-color: #fff; '>
   <div class='col-lg-12'>
   Перенесите категорию к нужной транзакции в столбец "Категории"
   </div>
  {foreach from=$category_list item=row}
    <div class=' col-xs-1 col-sm-1 col-md-1 col-lg-1  item_category' style='background-color: {$row.color} ;' data-category='{$row.id}'>
        <span  class='title'>{$row.title}</span>
        <span class="fa-stack fa-lg" style=''>
<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
<i class="fa {$row.icon} fa-stack-1x"></i>
</span>

</div>
  {/foreach}
      <div class=' col-xs-1 col-sm-1 col-md-1 col-lg-1' style='background-color: {$row.color} ;padding: 5px; height: 50px; font-size:11px; text-align: center'>
       <a href='/?p=category&edit'> <span  style=' overflow: hidden; white-space: nowrap; display: block; text-shadow:0px 1px 0px white; '>Добавить</span>
        <span class="fa-stack fa-lg" style=''>
<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
<i class="fa fa-plus fa-stack-1x"></i>
</span>
</a>
</div>
  </div>

   <!--col-xs-9  col-sm-9 col-md-9 col-lg-9-->
  <div class='col-lg-12'>
    <table class="table table-striped  table-hover" style='position: relative; z-index: 1'>
      <tr>
        <th>Дата</th>
        <th>Сумма</th>
        <th>Название</th>
        <th class='tour_cat'>Категория</th>
{if !$smarty.get.c}<th>Кошелёк</th>{/if}
      </tr>
 {assign var='datelast' value='0'}
{if $bill_all|count==0}

<tr>
<td colspan='4'>Записей нет</td>
</tr>
{else}
{foreach from=$bill_all item=row}
     <tr  class="{if ($row.credit==0)}ui-bar-a{else}ui-bar-a{/if}" style='position: relative; z-index: 1'>

       <td width=50>    {if $datelast!==$row.start_date}
{assign var='datelast' value=$row.start_date}

            {$row.start_date|date_format:"%d.%m.%Y"}

{else} {/if}</td>

       <td style='text-align:right;width:50px' >
       <span class="badge {if $row.status==1}{if ($row.credit==0)}bg-green{else}bg-red{/if}{else}bg-grey{/if}">
      {if ($row.credit==0)}{$row.value_debet}{$row.symbol}{/if}
{if ($row.credit==1)}-{$row.value_credit}{$row.symbol}{/if}</span></td>
       <td><a href="/?p=bill_edit&c={$row.id}" data-ajax=false>{$row.title}</a></td>
       {assign var='first_index' value='0'}
       <td width=200 class='bill_category' data-bill='{$row.id}'>
<!--													<optgroup label="Alaskan/Hawaiian Time Zone">
														<option value="AK">Alaska</option>
														<option value="HI">Hawaii</option>
													</optgroup>-->
 {assign var='first_index' value='0'}
          <span>
            {foreach from=$category_user_all item=rows name=foo}
              {if $row.id==$rows.id_bill}
                {if $first_index==0 }
                  {assign var='first_index' value='1'}
                  <i class="fa  fa-tags"></i>
                {else},
              {/if}
              <a href='#' class="text-aqua btn-xs">{$rows.title}</a>
              <i class="fa  fa-ban category_del" data-bill='{$row.id}' data-category='{$rows.id}' style='font-size:10px; color: #FF6B6B'></i>
              {/if}
            {/foreach}
          </span>
        </td>
{if !$smarty.get.c}
      <td style=' overflow: hidden; white-space: nowrap;'><a href='/?p=purse_view&c={$row.purse_id}'>{if empty($row.purse_title)}Кошелёк №{$row.id_purse}{else}{$row.purse_title}{/if}</a></td>{/if}
     </tr>
{/foreach}
{/if}
        </table>
      </div>

      </div>
    </div><!-- /.box-body -->
  </div>
</div>
        </div>
        </section>
