<!--<link href="/css/iCheck/all.css" rel="stylesheet" type="text/css" />
<script src="/js/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="/js/plugins/flot/jquery.flot.pie.min.js" type="text/javascript"></script>-->
        <!-- Morris charts -->
        <link href="/css/morris/morris.css" rel="stylesheet" type="text/css" />
        <script src="/js/plugins/raphael/raphael-min.js"></script>
        <script src="/js/plugins/morris/morris.min.js" type="text/javascript"></script>
<script>
$(function(){

                var donut = new Morris.Donut({
                    element: 'sales-chart',
                    resize: true,
                    colors: [{foreach from=$category_all item=row} "{$row.color}",{/foreach} ],
                    data: [
//<![CDATA[
{foreach from=$category_all item=row}
{ label: "{$row.title} {$row.symbol}", value: {$row.credits}},
{/foreach}
//]]>
                    ],
                    hideHover: 'auto'
                });

    var area = new Morris.Line({
        element: 'revenue-chart',
        resize: true,
        data: [

//<![CDATA[
{foreach from=$bill_all item=row}
{ y: "{$row.0}",  item1: {$row.1}, item2: {$row.2}},
{/foreach}
//]]>
        ],
        xkey: 'y',
        ykeys: ['item1', 'item2'],
        labels: ['Приход', 'Расход'],
        lineColors: ['#388E3C', '#D32F2F'],
        hideHover: 'auto'
    });



});
</script>


<section class="content">
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        {include file='include/panel_search.html'}
        <div class='row'>
          <div class="col-md-6">
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">Соотношение расходов</h3>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="sales-chart" style="height: 300px; position: relative;"></div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
          </div>
          <div class="col-md-6">
            <div class="box box-primary col-md-6">
              <div class="box-header">
                  <h3 class="box-title">График платежей</h3>
              </div>
              <div class="box-body chart-responsive">
                  <div class="chart" id="revenue-chart" style="height: 300px;"></div>
              </div><!-- /.box-body -->
            </div><!-- /.box -->
          </div>
        </div><!-- /.box -->




    </div>
</div>
</section>