<style>
.tour{
  float:left;
  cursor: pointer;
}
.tour:hover{
  color: #47A130;
}

</style>
<script>
$(function(){
  $(".tour").click(function(){
    if  (typeof(tour)=='object')tour.restart();  else {
      $.notify({
	icon: 'fa fa-ban',
	message: "Извините, но для этой страницы пока не готово обучение.",

}, {  type: "danger",   animate: {
		enter: 'animated zoomInDown',
		exit: 'animated zoomOutUp'
	},});
}
  });
});

</script>
<section class="content-header" >
<span class="fa-stack tour" data-toggle="tooltip" data-placement="top" title="Нажмите чтобы начать обучение по функционалу на странице">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-info fa-stack-1x fa-inverse"></i>
</span>
    <h1 class='tour_name_section'>
        {$path_title}
        <small>{$path_descr}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"> {if !isset($smarty.get.p)}Главная{else}<i class="fa fa-arrow-left"></i> Назад{/if}</a></li>
        <li class="active">{$path_link}</li>
    </ol>
</section>